@import '../../../core/theme/variables.scss';


.wrapper-items {
  margin: 10px 1rem;

  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, 75px);
  grid-template-rows: repeat(75px, min);
  justify-content: left;
  padding: auto;
}

.label-gold {
  margin: 5px 0px 15px 1rem;

  font-size: 18px;
  text-align: left;
  letter-spacing: 0.7px;
  color: lighten($app-primary, 10);
}

.item {
  display: flex;
  border: 2px solid darken($color: $app-dark, $amount: 10);
  border-radius: 4px;
  box-shadow: inset 1px 1px 24px 12px $app-dark;
}
