@import 'variables.scss';


.label {
  margin-bottom: 2px;

  color: $app-light;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.5px;
}

.input {
  height: 25px;
  width: 100%;

  padding: 2px;
  border: none;
  border-radius: 4px;
  color: $app-light;
  background-color: $app-dark;
  font-size: 14px;
  font-weight: 500;
}

.error {
  color: $app-red;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.25px;
}

.input-label {
  width: clamp(0px, 100%, 240px);
  margin: 0px;

  color: $app-light;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.25px;
}

@mixin input-base() {
  height: 25px;
  width: clamp(0px, 100%, 240px);
  margin: 2px auto 10px auto;

  padding: 2px;
  border: none;
  border-radius: 4px;
  color: $app-dark;
  background: $app-light;
  font-size: 14px;
  font-weight: 500;
}

.input-text {
  @include input-base();

  appearance: none;
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.input-select {
  @include input-base();
}

textarea {
  height: max-content !important;
}

progress {
  width: 80px;
  margin-left: 5px;

  border-radius: 8px;
  height: 10px;
}
progress::-webkit-progress-bar {
  background-color: $app-light;
  border-radius: 8px;
}
progress::-webkit-progress-value {
  background-color: $app-secondary;
  border-radius: 4px;
}
