@import 'variables.scss';


.input-label {
  width: clamp(0px, 100%, 240px);
  margin: 0px;

  color: $app-light;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.25px;
}

@mixin input-base() {
  width: clamp(0px, 100%, 240px);
  margin: 2px auto 10px auto;

  padding: 2px;
  border: none;
  border-radius: 4px;
  color: $app-dark;
  background: $app-light;
  font-size: 14px;
  font-weight: 500;
}

.input-text {
  @include input-base();

  appearance: none;
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;

  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.input-select {
  @include input-base();
}
