<form class="wrapper" [formGroup]="options.form">
  <div *ngIf="options.fieldType !== FieldType.CHECKBOX" class="label">
    <div *ngIf="options.hint" tooltip class="hint">
      <ng-template #tooltipTemplate>
        <div class="item-tooltip">
          {{ options.hint }}
        </div>
      </ng-template>
      <img src="assets/img/icons/info.svg" alt="info">
    </div>
    {{ options.label | translate }}
  </div>

  <div *ngIf="options.fieldType === FieldType.SIMPLE">
    <input class="input" [type]="options.type" [formControlName]="options.key" [autocomplete]="options.autocomplete || 'off'">
  </div>

  <div *ngIf="options.fieldType === FieldType.INTEGER">
    <input class="input" type="text" pattern="\d*" [formControlName]="options.key" [autocomplete]="options.autocomplete || 'off'">
  </div>

  <div *ngIf="options.fieldType === FieldType.TEXTAREA">
    <textarea class="input" [formControlName]="options.key" rows="3" [autocomplete]="options.autocomplete || 'off'"></textarea>
  </div>

  <div *ngIf="options.fieldType === FieldType.CHECKBOX" class="wrapper-checkbox">
    <input type="checkbox" class="input" [formControlName]="options.key" rows="3">
    <div class="label">
      {{ options.label | translate }}
    </div>
  </div>

  <div *ngIf="field && (field.touched || field.dirty) && !field.valid" class="error">
    {{ 'errors.incorrectFieldsValue' | translate:{ value: fieldName } }}
  </div>
</form>
