<div class="container-modal">
  <div class="wrapper-form">

    <div class="title">{{ 'mails.composeHint' | translate }}</div>

    <form [formGroup]="form" (ngSubmit)="sendMail()">
      <app-input-base *ngFor="let field of fields" [options]="field"></app-input-base>

      <button *ngIf="!(submitLoading$ | async)" [disabled]="!form.valid" class="btn-base">
        {{ 'mails.send' | translate }}
      </button>
      <div *ngIf="(submitLoading$ | async)" style="margin-top: 15px;">
        <app-loading-indicator></app-loading-indicator>
      </div>
    </form>

    <button [disabled]="(submitLoading$ | async)" (click)="closeModal()" class="btn-base" style="margin-top: 30px;">
      {{ 'common.cancel' | translate }}
    </button>

  </div>
</div>
