<div *ngIf="ownedDisplayDragon && enemyDisplayDragon" class="container-modal">

  <div class="title">Battle started</div>
  <div class="title-sub">
    <div class="owned">{{ ownedDragon.name }}</div>
    <b>{{ 'arena.vs' | translate }}</b>
    <div class="enemy">{{ enemyDisplayDragon.name }}</div>
  </div>

  <div class="wrapper-battle">
    <div class="wrapper-dragon">
      <img [src]="ownedDisplayDragon.image" [alt]="ownedDisplayDragon.name" draggable="false">
      {{ ownedDisplayDragon.name }} [{{ ownedDisplayDragon.level }}]
    </div>

    <div *ngIf="battleLoading" class="m-5">
      <app-loading-indicator></app-loading-indicator>
    </div>
    <div *ngIf="!battleLoading && battleLogs" #battleLogsWrapper class="wrapper-logs">
      <div *ngFor="let log of battleLogs" class="item-log">
        <div @fadeIn [innerHTML]="log"></div>
      </div>
      <br>
      <b *ngIf="battleResult" [innerHtml]="battleResult"></b>
    </div>

    <div class="wrapper-dragon dragon-enemy">
      <img [src]="enemyDisplayDragon.image" [alt]="enemyDisplayDragon.name" draggable="false">
      {{ enemyDisplayDragon.name }} [{{ enemyDisplayDragon.level }}]
    </div>
  </div>

  <div>
    <button *ngIf="!battleResult" (click)="onAuto()" class="btn-base">
      {{ 'common.auto' | translate }}
    </button>
    <button *ngIf="battleResult" (click)="closeModal()" class="btn-base">
      {{ 'common.close' | translate }}
    </button>
  </div>

</div>
