@import "../../theme/mixins.scss";
@import "../../theme/variables.scss";


.item-log {
  width: 100%;
  margin: -2px auto;

  padding: 5px 10px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.5px;
}

.log-owned {
  @include tile($app-green);
}

.log-enemy {
  @include tile($app-red);
}

.log-crit {
  font-weight: 500;
}
