@import '../../theme/mixins.scss';
@import '../../theme/variables.scss';


.item-log {
  width: 100%;
  margin: -2px auto;

  padding: 5px 10px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.5px;
}

.log-owned {
  @include tile($app-green);
}

.log-enemy {
  @include tile($app-red);
}

.log-skill {
  font-size: 15px;
  font-style: italic;
}

.log-miss {
  @include tile(lighten($app-dark, 33%));

  font-size: 13px;
}

.log-crit {
  font-weight: 500;
}

.log-extra {
  padding-left: 8px;
  font-size: 12px;
}

.log-status {
  @include tile($app-secondary);

  margin-top: 3px;
  padding: 3px 18px;
  font-size: 12px;
}
