@import "../../theme/mixins.scss";
@import "../../theme/variables.scss";


.title {
  font-size: 20px;
  text-align: center;
}

.title-sub {
  width: 100%;
  max-width: 400px;
  margin: 4px auto;

  font-size: 16px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.wrapper-battle {
  width: 100%;
  max-width: 1200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-logs {
  width: 100%;
  max-width: 500px;
  max-height: 400px;
  overflow-y: scroll;
}

.owned {
  color: $app-green;
}

.enemy {
  color: $app-red;
}

.wrapper-dragon {
  max-width: 250px;
  margin: 0px 30px 30px 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    max-width: 200px;
  }
}

@media screen and (max-width: $mobile-threshold) {

  .wrapper-dragon {
    display: none;
  }
}
