<div class="wrapper-main">
  <app-navigation-bar currentLocation="expeditions"></app-navigation-bar>

  <div class="wrapper-content">

    <div class="title">{{ 'explore.explorePageTitle' | translate }}</div>

    <div *ngIf="expeditionsLoading" class="mt-5">
      <app-loading-indicator></app-loading-indicator>
    </div>

    <div *ngIf="!expeditionsLoading" class="wrapper-expeditions">
      <div *ngFor="let expedition of expeditions" class="expedition">

        <div class="expedition-img">
          <img [src]="expedition.image" [alt]="expedition.name">
        </div>

        <div class="expedition-hint">
          <b>{{ expedition.name | translate }}</b><br>
          {{ expedition.hint | translate }} <br>

          <button (click)="prepareExpedition(expedition)" class="btn-base">
            {{ 'explore.explore' | translate }}
          </button>
          <app-dragon-choice-modal
            *ngIf="showDragonChoiceModal && expedition.name === selectedExpedition"
            [title]="modalTitle"
            [message]="modalMessage"
            [dragons]="ownedDragons"
            [level]="expedition.level"
            (close)="showDragonChoiceModal = false"
            (dragonSelected)="startExpedition($event, expedition)">
          </app-dragon-choice-modal>
        </div>
      </div>
    </div>

  </div>
</div>
