<div class="wrapper-main">
  <app-navigation-bar currentLocation="expeditions"></app-navigation-bar>

  <div class="wrapper-content">

    <div class="title">{{ 'explore.explorePageTitle' | translate }}</div>

    <div *ngIf="expeditionsLoading" class="mt-5">
      <app-loading-indicator></app-loading-indicator>
    </div>

    <div *ngIf="!expeditionsLoading" class="wrapper-expeditions">
      <div *ngFor="let expedition of expeditions" class="expedition">

        <div class="expedition-img">
          <img [src]="expedition.image" [alt]="expedition.name" draggable="false">
        </div>

        <div class="expedition-hint">
          <b>{{ expedition.name | translate }}</b><br>
          {{ expedition.hint | translate }} <br>

          <button (click)="prepareExpedition(expedition)" class="btn-base">
            {{ 'explore.explore' | translate }}
          </button>
          <button (click)="prepareGuardianChallenge(expedition)" class="btn-base">
            {{ 'explore.challengeGuardian' | translate }}
          </button>

          <app-dragon-choice-modal
            *ngIf="showDragonChoiceModal && expedition.uid === selectedExpedition?.uid"
            [title]="modalTitle!"
            [message]="modalMessage!"
            [level]="requiredLevel"
            [expeditionUid]="expedition.uid"
            (close)="showDragonChoiceModal = false"
            (dragonSelected)="dragonChoiceCallback($event, expedition)">
          </app-dragon-choice-modal>

        </div>
      </div>
    </div>
  </div>

  <app-dragon-battle
    *ngIf="selectedExpedition && displayBattle"
    [ownedDragon]="selectedDragon!"
    [expedition]="selectedExpedition"
    (updatedDragon)="displayBattle = false">
  </app-dragon-battle>
</div>
