@import '../../../core/theme/variables.scss';
@import '../../../core/theme/mixins.scss';


.wrapper-crafting-section {
  @include tile(black);

  margin: 10px auto;
  max-width: 900px;

  padding: 10px;
}

.wrapper-lore {
  display: flex;
  gap: 10px;
  text-align: left;
}

.wrapper-lore-img {
  min-width: 125px;
  width: 125px;

  img {
    max-width: 100%;
  }
}

.wrapper-lore-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: justify;

  button {
    margin:  10px 0px;
  }
}

@media screen and (max-width: $mobile-threshold) {

  .wrapper-lore {
    flex-direction: column;
    align-items: center;
    text-align: justify;

    img {
      max-width: 125px;
    }
  }
}
