<div class="container-modal">
  <div class="wrapper-form">
    <div class="wrapper-form-content">
      <div class="title">{{ 'start.recoverPassword' | translate }}</div>

      <div class="label">{{ 'start.email' | translate }}</div>
      <input [formControl]="email" type="text" class="input">
      <div *ngIf="email.dirty && !email.valid" class="error" data-testid="app-login-error">
        {{ 'errors.incorrectFieldsValue' | translate:{ value: 'email' } }}
      </div>

      <button (click)="recoverPassword()" [disabled]="!email.valid" class="btn-base">
        {{ 'common.submit' | translate }}
      </button>

      <button (click)="onClose()" class="btn-base" style="margin-top: 40px;">
        {{ 'common.close' | translate }}
      </button>
    </div>
  </div>
</div>
