<div class="container-modal">
  <div class="wrapper-form">
    <div class="wrapper-form-content">
      <div class="title">{{ 'start.recoverPassword' | translate }}</div>

      <div class="label">{{ 'start.emailOrNickname' | translate }}</div>
      <input [formControl]="emailOrNickname" type="text" class="input">
      <div *ngIf="emailOrNickname.dirty && !emailOrNickname.valid" class="error" data-testid="app-login-error">
        {{ 'errors.incorrectFieldsValue' | translate:{ value: 'email' } }}
      </div>

      <button (click)="recoverPassword()" [disabled]="!emailOrNickname.valid || (recoverPasswordLoading$ | async)" class="btn-base">
        {{ 'common.submit' | translate }}
      </button>

      <button (click)="onClose()" [disabled]="(recoverPasswordLoading$ | async)" class="btn-base" style="margin-top: 40px;">
        {{ 'common.close' | translate }}
      </button>
    </div>
  </div>
</div>
