<div class="wrapper-main">
  <app-navigation-bar currentLocation="dragon-summoner"></app-navigation-bar>

  <div class="wrapper-content">

    <div class="wrapper-actions-section">
      <div class="wrapper-lore">
        <div class="wrapper-lore-img">
          <img src="assets/img/lore/dragon-summoner.png" draggable="false" alt="Dragon summoner">
        </div>
        {{ 'dragonSummon.dragonSummonerHint' | translate }}
      </div>

      <ng-template #loading>
        <div style="margin: 30px auto;">
          <app-loading-indicator></app-loading-indicator>
        </div>
      </ng-template>
      <div *ngIf="actions$ | async as actions; else loading" class="wrapper-actions">

        <div *ngFor="let action of actions; let actionInd = index" class="item-action">
          <div class="action-hint">
            {{ action.hint | translate }}
          </div>

          <div>
            <input #nameInput class="input-text" [disabled]="actionsLoading$ | async" placeholder="{{ 'auctions.name' | translate }}"/>
          </div>

          <div *ngIf="action.requiredItems && action.requiredItems.length" class="cost-hint">
            {{ 'dragonTamer.requiredItems' | translate }}:
            <div *ngFor="let item of action.requiredItems; let itemInd = index" [class]="'inline' + ' color-' + item.rarity">
              {{ item.name + ' ('+item.quantity+')' + (itemInd+1 < action.requiredItems.length ? ', ' : '') }}
            </div>
          </div>

          <div class="cost-hint">
            {{ 'dragonTamer.actionCost' | translate }}:
            {{ action.cost }}
          </div>
          <button (click)="summonDragon(action, nameInput.value)" [disabled]="actionsLoading$ | async" class="btn-base btn-action">
            {{ 'dragonSummon.summon' | translate }}
          </button>

        </div>

      </div>

    </div>

  </div>
</div>
