<div class="wrapper-main">
  <app-navigation-bar currentLocation="crafting"></app-navigation-bar>

  <div class="wrapper-content">

    <div class="wrapper-alchemy-section">
      <div class="wrapper-lore">
        <div class="wrapper-lore-img">
          <img src="assets/img/lore/alchemy-potions.png" draggable="false" alt="Goblin alchemist">
        </div>
        <div class="wrapper-lore-text">
          {{ 'alchemy.mixturesHint' | translate }}
          <button (click)="displayMixtures = !displayMixtures" class="btn-base btn-small">
            {{ 'alchemy.toggleOffer' | translate }}
          </button>
        </div>
      </div>

      <app-alchemy-mixtures
        *ngIf="displayMixtures"
        [userItems$]="userItems$"
        [brewedMixtures$]="brewedMixtures$"
        [mixtureRecipes$]="mixtureRecipes$"
        (refreshItems)="refreshMixturesData()">
      </app-alchemy-mixtures>
    </div>

    <div class="wrapper-alchemy-section">
      <div class="wrapper-lore">
        <div class="wrapper-lore-img">
          <img src="assets/img/lore/alchemy-boosters.png" draggable="false" alt="Goblin alchemist">
        </div>
        <div class="wrapper-lore-text">
          {{ 'alchemy.boostersHint' | translate }}
          <button (click)="displayBoosters = !displayBoosters" class="btn-base btn-small">
            {{ 'alchemy.toggleOffer' | translate }}
          </button>
        </div>
      </div>

        <app-alchemy-boosters
          *ngIf="displayBoosters"
          [userItems$]="userItems$"
          [userDragons$]="userDragons$"
          [boosterRecipes$]="boosterRecipes$"
          (refreshItems)="refreshBoosterData()">
        </app-alchemy-boosters>
    </div>
  </div>

</div>
