<div class="wrapper-modal">
  <div class="wrapper-modal-conent">
    <h2>{{ 'guild.manage' | translate }} {{ member.user.nickname }}</h2>

    <div class="wrapper-form">
      <div class="input-label" style="margin: auto;">{{ 'guild.role' | translate }}</div>
      <select #roleSelect class="input-select">
        <option class="input-select-option" *ngFor="let role of sortRoles(roles)"
          [value]="role.id">
          [{{ role.priority }}] {{ role.name }}
        </option>
      </select>
      <button (click)="onManage()" [disabled]="(manageMemberLoading$ | async)" class="btn-base">
        {{ 'common.confirm' | translate }}
      </button>
      <div *ngIf="(manageMember$ | async)" class="gone"></div>
    </div>

    <button (click)="onKick()" [disabled]="(manageMemberLoading$ | async)" class="btn-base">
      {{ 'guild.kickOut' | translate }}
    </button>

    <button (click)="onClose()" [disabled]="(manageMemberLoading$ | async)" class="btn-base">
      {{ 'common.close' | translate }}
    </button>
  </div>
</div>
