@import '../../../core/theme/variables.scss';
@import '../../../core/theme/mixins.scss';


.wrapper-content {
  overflow-x: auto;
}

.wrapper-auctions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper-menu {
  width: clamp(200px, 95%, 800px);
  margin: auto;
  display: flex;
  gap: 2px;

  .btn-mode {
    width: 50%;
    margin: 0px;

    line-height: 2;
    border-radius: 2px;
  }
}

.wrapper-search {
  margin-top: -2px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(30px);
  justify-items: stretch;
  align-items: stretch;
  gap: 0px 2px;

  input, select, div {
    width: auto;
    margin: 3px 0px 0px 0px;
  }

  .btn-search {
    max-width: none;
    height: 25px;
  }
}

.wrapper-table {
  width: clamp(200px, 95%, 800px);
  height: 590px;
  margin: auto;

  padding-bottom: 4px;
  background: $app-dark;
  border-radius: 2px;
  overflow: visible;
}

.wrapper-auctions {
  width: 100%;
  margin: 5px auto 10px auto;

  padding: 0px 5px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}

.item-auction {
  @include tile(lighten($app-dark, 10));

  width: clamp(200px, 100%, 100%);
  height: 60px;

  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 0px 10px;

  .item-auction-data {
    width: 50%;
    display: flex;
  }
}

.btn-auction {
  height: 24px;
  width: 60px;
  margin: 0px;

  text-align: center;
}


@media screen and (max-width: $mobile-threshold) {

  .item-auction {
    justify-content: center;

    .item-auction-data {
      width: 100%;
    }
  }
}

