<div class="wrapper-main">
  <app-navigation-bar currentLocation="auctions"></app-navigation-bar>

  <div class="wrapper-content">
    <div class="wrapper-auctions">

      <div class="wrapper-menu">
        <div (click)="changeMode(false)" class="btn-base btn-mode">
          {{ 'auctions.all' | translate }}
        </div>
        <div (click)="changeMode(true)" class="btn-base btn-mode">
          {{ 'auctions.owned' | translate }}
        </div>
        <div (click)="displayCreateForm = true" class="btn-base btn-mode">
          {{ 'auctions.addOffer' | translate }}
        </div>
      </div>
      <div class="wrapper-menu wrapper-search">
        <input #searchName class="input-text" placeholder="{{ 'auctions.name' | translate }}"/>
        <input #searchMinLevel class="input-text" type="number" placeholder="{{ 'auctions.minLevel' | translate }}"/>
        <input #searchMaxLevel class="input-text" type="number" placeholder="{{ 'auctions.maxLevel' | translate }}"/>
        <select #searchRarity class="input-select" placeholder="auctions.rarity">
          <option [value]="ItemRarity.Common">{{ 'enums.itemRarity.Common' | translate }}</option>
          <option [value]="ItemRarity.Scarce">{{ 'enums.itemRarity.Scarce' | translate }}</option>
          <option [value]="ItemRarity.Rare">{{ 'enums.itemRarity.Rare' | translate }}</option>
          <option [value]="ItemRarity.Mythical">{{ 'enums.itemRarity.Mythical' | translate }}</option>
        </select>
        <select #searchType class="input-select" placeholder="auctions.rarity">
          <option [value]="ItemType.Food">{{ 'enums.itemType.Food' | translate }}</option>
          <option [value]="ItemType.Ingredient">{{ 'enums.itemType.Ingredient' | translate }}</option>
          <option [value]="ItemType.Equipment">{{ 'enums.itemType.Equipment' | translate }}</option>
        </select>
        <div (click)="getAuctions()" class="btn-base btn-search">
          {{ 'common.search' | translate }}
        </div>
      </div>

      <div class="wrapper-table">
        <div *ngIf="auctionsLoading" class="m-5">
          <app-loading-indicator></app-loading-indicator>
        </div>

        <div *ngIf="!auctionsLoading" class="wrapper-auctions">
          <div *ngFor="let auction of auctions" style="width: 100%;">

            <div class="item-auction">
              <div style="width: 100%; display: flex; align-items: center;">
                <div class="item-auction-data">
                  <app-item-display [item]="auction.item" [simplified]="true" style="width: 45px; height: 45px;"></app-item-display>
                  <div class="ml-4">
                    {{ 'auctions.quantity' | translate }}: {{ auction.quantity }} <br>
                    {{ 'auctions.price' | translate }}: {{ auction.totalGoldPrice }}
                    <div class="inline no-mobile">
                      ({{ 'auctions.unitPriceCalculated' | translate:{price: auction.totalGoldPrice/auction.quantity} }})
                    </div>
                  </div>
                </div>

                <div class="no-mobile">
                  {{ 'auctions.endTime' | translate }}: {{ auction.endTime | date:'short' }}
                </div>
              </div>

              <button *ngIf="auction.sellerId !== user.id" (click)="buyAuction(auction.id)" class="btn-base btn-auction">
                {{ 'auctions.buy' | translate }}
              </button>
              <button *ngIf="auction.sellerId === user.id" (click)="cancelAuction(auction.id)" class="btn-base btn-auction">
                {{ 'common.cancel' | translate }}
              </button>
            </div>

          </div>
        </div>
      </div>

      <div *ngIf="canGetPrev || canGetNext" class="wrapper-menu">
        <button (click)="getAuctions(false)" [disabled]="!canGetPrev" class="btn-base btn-mode">
          {{ 'common.prev' | translate }}
        </button>
        <button (click)="getAuctions(true)" [disabled]="!canGetNext" class="btn-base btn-mode">
          {{ 'common.next' | translate }}
        </button>
      </div>

    </div>

  </div>
</div>

<app-auction-create *ngIf="displayCreateForm" (close)="displayCreateForm = false"></app-auction-create>
