<div class="wrapper-main">
  <app-navigation-bar currentLocation="guild"></app-navigation-bar>

  <div class="wrapper-content">
    <div
      *ngIf="
        {
          founderGuild: (founderGuild$ | async),
          memberGuild: (memberGuild$ | async),
          guilds: (guilds$ | async)
        } as vm;
        else loading
      "
    >
      <div *ngIf="vm.founderGuild && viewMode === GuildView.FounderView">
        <app-founder-guild [guild]="vm.founderGuild"></app-founder-guild>
      </div>
      <div *ngIf="vm.memberGuild && viewMode === GuildView.MemberView">
        <b>Member guild:</b>
        <p>{{ vm.memberGuild | json }}</p>
      </div>
      <div
        *ngIf="
          !vm.founderGuild &&
          !vm.memberGuild &&
          vm.guilds &&
          viewMode === GuildView.DefaultView
        "
      >
        <app-no-guild [guilds]="vm.guilds.data"></app-no-guild>
      </div>
    </div>
    <ng-template #loading>
      <app-loading-indicator></app-loading-indicator>
    </ng-template>
  </div>
</div>
