.wrapper-main {
  height: 100%;

  padding: 0px;
  align-content: center;
}

.wrapper-content {
  max-width: 600px;
  min-height: none;
  height: auto;
  margin: auto;

  padding: 2rem 0rem 2rem 0rem;
}

.wrapper-form {
  max-width: 240px;
  margin: 20px auto;
}

.label {
  margin-top: 10px;
}

.btn-base {
  margin-top: 30px;
  max-width: 100%;
}
