@import '../../../core/theme/variables.scss';


.bg-light {
  background-color: $app-primary !important;
}

.btn-outline {

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.navbar-brand {

  border-right: 2px solid $app-dark;
  padding-right: 1.3125rem;

  img {
    margin-right: 10px;
  }
}

.navbar-toggler-icon {
  color: red !important;
}

.app-nav-link {
  color: $app-dark !important;
  cursor: pointer;

  &:hover {
    font-weight: 600;
    transition: all ease-in-out 0.33s;
  }
}

.app-active {
  font-weight: 600;
}

.logout {
  color: $app-dark;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    color: darken($color: $app-red, $amount: 20);
    transition: all ease-in-out 0.33s;
  }
}
