@import '../../../core/theme/variables.scss';
@import '../../../core/theme/mixins.scss';


ul, li {
  list-style-type: none;
}


.wrapper-nav-top {
  width: 100%;
  height: 56px;
  margin: 0px;

  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  color: darken($app-dark, 10);
  background: $app-primary;
  text-align: left;

  .item-user {
    padding-left: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
  }

  .nickname {
    max-width: 30vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.wrapper-menu {
  width: 100%;
  height: calc(100% - 56px);

  overflow: auto;
  position: absolute;
  top: 56px;
  left: 0px;
  background: $app-dark;
  color: $app-primary;
  z-index: 2000;

  .item-menu-nav {
    @include tile($app-primary);

    margin: 2px 2px 0px 2px;
    line-height: 60px;
    font-size: 20px;
    cursor: pointer;
    z-index: 2000;
  }
}

.wrapper-nav-side {
  width: 200px;
  height: calc(100% - 8px);
  margin: 4px;

  overflow: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  color: darken($app-dark, 10);
  background: $app-primary;
  border: 2px solid darken($app-primary, 50);
  border-radius: 4px;

  .item-user {
    @include tile(darken($app-mythical, 20));

    height: 120px;
    margin: 2px;

    padding: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: 400;

    p {
      margin-top: 5px;
      font-size: 15px;
    }
  }

  .nickname {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.item-menu {
  cursor: pointer;
}

.item-logout {
  color: darken($app-red, 40);

  &:hover {
    cursor: pointer;
    color: darken($app-green, 20);
  }
}

.item-nav {
  @include tile($app-dark);

  margin: 2px;

  line-height: 45px;
  padding-left: 20px;
  text-align: left;
  font-size: 20px;
  font-weight: 400;

  &:hover {
    @include tile(darken($app-mythical, 20));

    cursor: pointer;
  }
}
