<div class="no-desktop wrapper-nav-top">
  <div class="item-user">
    <b>{{ (user$ | async)?.nickname ?? '' }}</b><b>|</b>{{ 'inventory.gold' | translate }}: {{ (user$ | async)?.gold }}<b>|</b>
    <div (click)="displayMenu = !displayMenu" class="item-menu">{{ 'game.menu' | translate }}</div><b>|</b>
    <div (click)="logout()" class="item-logout">{{ 'game.logout' | translate }}</div>
  </div>
</div>
<div *ngIf="displayMenu" class="no-desktop wrapper-menu">
  <li *ngFor="let item of navigationItems" [ngClass]="{'app-active': item.isActive}" class="nav-item">
    <div class="item-menu-nav" (click)="navigate(item.path)">{{ item.label | translate }}</div>
  </li>
</div>

<div class="no-mobile wrapper-nav-side">
  <div class="item-user">
    <b>{{ (user$ | async)?.nickname }}</b>
    <p>{{ 'inventory.gold' | translate }}: {{ (user$ | async)?.gold }}</p>

    <p (click)="logout()" class="item-logout">
      ⤶ {{ 'game.logout' | translate }}
    </p>
  </div>

  <li *ngFor="let item of navigationItems" [ngClass]="{'app-active': item.isActive}" class="nav-item">
    <div class="item-nav" (click)="navigate(item.path)">{{ item.label | translate }}</div>
  </li>
</div>
