<div class="wrapper-main">
  <app-navigation-bar currentLocation="home"></app-navigation-bar>

  <div class="wrapper-content">

    <div class="wrapper-news">
      <div class="title">{{ 'game.recentChanges' | translate }}</div>

      <div class="news">
        <img src="assets/img/news/dragon.png" alt="dragon">
        <p><b>Welcome to the Re: Nightwood.</b></p>
        This project was created solely for entertainment purposes to allow old players to return to the lands of Nightwood
        and enable new players to get to know them. New features will be delivered in the future, including new dragons,
        equipment, alchemy, guilds, and more (of course non-functional features e.g. performance and safety will also be addressed).
        Tribute to the original creator Przmysław "Gilfuin" Krowiński who inspired this project.
        <br><br> Regards,<br> Mateusz "Atrophas" Fijak
      </div>
    </div>

    <div class="wrapper-reports">
      <div class="title">{{ 'explore.expeditionReports' | translate }}</div>
      <div *ngIf="reportsLoading" class="mt-5">
        <app-loading-indicator></app-loading-indicator>
      </div>
      <div class="reports-scroll">
        <div *ngFor="let report of reports" class="report">
          {{ report.generationDate | date:"HH:mm dd.MM.yyyy" }}
          <div
            [innerHtml]="'explore.expeditionReportDescription' | translate
              :{ dragon: report.dragonName, expedition: report.expeditionName, experience: report.experience }">
          </div>
          <ul>
            <li *ngFor="let loot of report.loots" class="loot color-{{loot.rarity}}">
              {{ loot.name | translate }} ({{ loot.quantity }})
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
