@import '../../../core/theme/variables.scss';


.wrapper-content {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  padding: 10px;
}

.wrapper-news {
  min-width: 0px;
}

.news {
  margin-top: 10px;

  text-align: justify;
  box-shadow: inset 1px 1px 12px 1px $app-dark;
  background-color: transparentize($color: $app-dark, $amount: 0.6);
  padding: 10px;

  img {
    width: 200px;
    padding-right: 10px;
    float: left;
  }
}

.reports-scroll {
  max-height: 600px;
  margin-top: 10px;

  overflow: auto;
}

.report {
  margin-bottom: 10px;

  padding: 10px;
  box-shadow: inset 1px 1px 12px 1px $app-primary;
  background-color: transparentize($color: $app-primary, $amount: 0.95);
  text-align: left;
  letter-spacing: 0.5px;

  ul {
    margin: 0px;
  }
}

@media screen and (max-width: $mobile-threshold) {

  .wrapper-content {
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
    padding: 10px;
  }
}
