<div class="wrapper-main">
  <app-navigation-bar currentLocation="home"></app-navigation-bar>

  <div class="wrapper-content">

    <div class="section-news">
      <div class="title mb-4">{{ 'game.recentChanges' | translate }}</div>

      <div class="wrapper-news">
        <div class="item-news">
          <p><b>15.05.2022 <br>Technical review.</b></p>
          1. Combat system rework - the impact of attributes on the base stats has been changed, rebalanced skills, buffed magic.<br>
          2. Updated experience and stamina system - gained/lost experience is changing exponentially, stamina consumption is more constant.<br>
          3. Dragon's battle statistics can now be displayed in My Dragon's section.<br>
          4. For the next week, skill reset and nature change offered by Dragon Tamer will be 10x cheaper. <br>
          5. Next update: alchemy - extracts, boosters (end of May).
        </div>

        <div class="item-news">
          <p><b>08.05.2022 <br>Technical review.</b></p>
          1. A new expedition location has been discovered! This mysterious place hides the remains of relics from another dimension that the dragon summoner may use in her research.<br>
          2. Added 18 new skills including active skills that require mana and skills for another natures. Some of the existing skills were rebalanced.<br>
          3. Miracle Fruits were removed from regular expedition loots and will only be available during special events in the future. <br>
          4. For the next week expeditions will require 50% less time to complete. <br>
          5. Next update: combat system rework (skill multipliers, base attributes, relative strength), battle statistics preview.
        </div>

        <div class="item-news">
          <p><b>28.04.2022 <br>Technical review.</b></p>
          1. Updated combat experience system, now your dragons can lose experience in battles,
          and you will only be able to fight the same opponent twice until your dragon rests.<br>
          2. QoL changes - dragon attributes & feeding hints.<br>
        </div>

        <div class="item-news">
          <p><b>23.04.2022 <br>Technical review.</b></p>
          1. Dragon Tamer is out - check out his offer.<br>
          2. Expedition loots rebalance, some items required for Dragon Tamer actions will have a 2x loot chance for the next week.<br>
          3. Skills rebalance - Sound Body (gradually decreasing effect), Pugnacious Strike (calculated based on dexterity).<br>
          4. Minor bug fixes (expedition reports) & display improvements.<br>
          5. Next update: new dragon skills and special natures<br>
        </div>

        <div class="item-news">
          <p><b>18.04.2022 <br>Technical review.</b></p>
          1. Battle Runes introduction.<br>
          2. Dragon attributes rebalance.<br>
          3. Extra: for the next 48 hours expedition will take 50% less time.<br>
          4. Next update: new dragon skills (& skills rebalance) and special natures.
        </div>

        <div class="item-news">
          <p><b>13.04.2022 <br>Technical review.</b></p>
          1. New experience formula, experience gained to this point was normalized.<br>
          2. QoL changes - expedition timers, expedition report mails.<br>
          3. Minor display fixes.<br>
          4. Expedition time is back to normal. <br>
          5. Next update: full rune implementation.
        </div>

        <div class="item-news">
          <p><b>10.04.2022 <br>Technical review.</b></p>
          1. New loots added to existing expeditions.<br>
          2. New game mechanic - rune crafting (for now runes do not have any statistics which will be introduced in a future update). <br>
          3. For the next 2 days the expedition time will be cut in half.<br>
        </div>
      </div>

    </div>

    <div class="wrapper-dragons">
      <div class="title mb-4">{{ 'game.bestDragons' | translate }}</div>
      <div *ngIf="dragonsLoading" class="mt-5">
        <app-loading-indicator></app-loading-indicator>
      </div>
      <div class="reports-scroll">
        <div
          *ngFor="let dragon of (dragons$ | async)?.data; index as i"
          [ngStyle]="{'font-size': 'clamp(13px, '+(18-1.5*i)+'px, 18px)'}"
          [ngClass]="{ 'dragon-first': i === 0 }"
          class="item-dragon">
          {{ i+1 }}. {{ dragon.name }} [{{ dragon.level }}] | {{ dragon.experience }} {{ 'dragon.experience' | translate }}
        </div>
      </div>
    </div>

  </div>
</div>
