@import '../../../core/theme/variables.scss';


.wrapper-content {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  padding: 10px;
}

.wrapper-news {
  height: clamp(0px, 60vh, 600px);
  overflow: auto;
}

.item-news {
  margin-top: 10px;

  text-align: left;
  box-shadow: inset 1px 1px 12px 1px $app-dark;
  background-color: transparentize($color: $app-dark, $amount: 0.6);
  padding: 10px;
  font-style: italic;
  letter-spacing: 0.8px;

  img {
    width: 200px;
    padding-right: 10px;
    float: left;
  }

  &:first-of-type {
    margin-top: 0px;
  }
}

.item-dragon {
  margin-bottom: 4px;

  padding: 4px;
  box-shadow: inset 1px 1px 12px 1px $app-primary;
  background-color: transparentize($color: $app-primary, $amount: 0.95);
  letter-spacing: 1px;

  &:hover {
    box-shadow: inset 1px 1px 12px 1px lighten($app-primary, 10);
  }
}

.dragon-first {
  box-shadow: inset 1px 1px 12px 1px $app-secondary;
  background-color: transparentize($color: $app-secondary, $amount: 0.95);

  &:hover {
    box-shadow: inset 1px 1px 12px 1px lighten($app-secondary, 10);
  }
}

@media screen and (max-width: $mobile-threshold) {

  .wrapper-content {
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
    padding: 10px;
  }
}
