@import '../../theme/mixins.scss';
@import '../../theme/variables.scss';


.container-dragon {
  @include tile($app-dark);

  max-width: 100%;
  min-height: 250px;
  margin: 2px;

  padding-left: 10%;
  display: flex;
  justify-content: flex-start;
  gap: 10%;
}

.wrapper-name {
  @include size(200px);

  margin-top: 2%;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.wrapper-image {
  max-width: 180px;

  img {
    @include size(100%);

    overflow: hidden;
  }
}

.wrapper-stats {
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  text-align: left;

  p {
    line-height: 1;
  }
}

.item-stat {
  margin-bottom: 5px;
  display: flex;

  img {
    max-width: 100%;
    width: 16px;
    margin-right: 5px;
  }
}

.wrapper-actions {
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  text-align: left;

  .btn-action {
    width: 100px;
    height: 25px;
    margin: 0px 0px 10px 0px;

    line-height: 23px;
    padding: 1px;
    letter-spacing: 0.5px;
    text-align: center;
    color: $app-primary;
    font-weight: 500;
    background-color: $app-dark;
    border-radius: 4px;
  }
}

.container-modal {
  width: 100vw;
  min-height: 100vh;

  z-index: 100;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparentize($color: $app-dark, $amount: 0.04);

  p {
    width: 95%;
    max-width: 800px;
    margin: 12px auto;

    font-size: 18px;
  }

  .btn-base {
    margin: 20px auto;
  }
}

.wrapper-foods {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food {
  height: 40px;
  width: 240px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  padding: 10px;

  img {
    width: 40px;
    height: auto !important;
    margin-right: 10px;
  }

  &:hover {
    cursor: pointer;
    background: darken($color: $app-dark, $amount: 5);
  }
}

@media screen and (max-width: $mobile-threshold) {
  .container-dragon {
    padding: 0%;
    min-height: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
  }

  .wrapper-image {
    margin: 0px;
  }

  .wrapper-stats {
    display: none;
  }

  .wrapper-actions {
    flex-direction: row;

    .btn-action {
      margin: 5px;
    }
  }
}
