<div *ngIf="displayFeedModal && dragon" class="container-modal">
  <div *ngIf="feedLoading" class="mb-5">
    <app-loading-indicator></app-loading-indicator>
  </div>

  <div *ngIf="!feedLoading">
    <div class="title">{{ 'dragon.feed' | translate }} {{ dragon.name }}</div>
    <p>{{ 'dragon.chooseFoodHint' | translate }}</p>

    <div *ngIf="foodLoading" class="mt-5">
      <app-loading-indicator></app-loading-indicator>
    </div>
    <div class="wrapper-foods" *ngIf="!foodLoading">
      <div *ngFor="let item of availableFood" (click)="feedDragon(item.id!)" class="food">
          <img [src]="item.image" [alt]="item.name">
          {{ item.name | translate }}
          ({{ item.quantity }}) <br>
      </div>
    </div>

    <button (click)="displayFeedModal = false" class="btn-base">
      {{ 'common.cancel' | translate }}
    </button>
  </div>
</div>

<div *ngIf="dragon" class="container">

  <div class="wrapper-name">
    {{ dragon.name }} [{{ dragon.level }}]
    <div style="font-size: 14px; font-weight: 300;">{{ 'dragon.experience' | translate }}: {{ dragon.experience }}</div>

    <div class="wrapper-image">
      <img [src]="dragon.image" alt="fire dragon">
    </div>
  </div>

  <div class="wrapper-stats">
    <p>{{ 'dragon.nature' | translate }}: <b>{{ dragon.nature }}</b></p>
    <p>{{ 'dragon.strength' | translate }}: <b>{{ dragon.strength }}</b></p>
    <p>{{ 'dragon.dexterity' | translate }}: <b>{{ dragon.dexterity }}</b></p>
    <p>{{ 'dragon.endurance' | translate }}: <b>{{ dragon.endurance }}</b></p>
    <p>{{ 'dragon.will' | translate }}: <b>{{ dragon.will }}</b></p>
    <p>{{ 'dragon.luck' | translate }}: <b>{{ dragon.luck }}</b></p>
    <p>{{ 'dragon.ongoingAction' | translate }}: <b>{{ dragon.currentAction }}</b></p>
  </div>

  <div class="wrapper-actions">
    <button (click)="prepareFeedModal()" [disabled]="!feedAvailable" class="btn-base btn-action">
      {{ 'dragon.feed' | translate }}
    </button>
    <button (click)="navigateExplore()" class="btn-base btn-action no-mobile">
      {{ 'dragon.explore' | translate }}
    </button>
    <button (click)="navigateArena(dragon.id)" class="btn-base btn-action no-mobile">
      {{ 'dragon.battle' | translate }}
    </button>
    <button (click)="displayDetails = true" class="btn-base btn-action">
      {{ 'common.details' | translate }}
    </button>
    <button (click)="displayReleaseModal = true" class="btn-base btn-action no-mobile">
      {{ 'dragon.release' | translate }}
    </button>
  </div>

</div>

<app-dragon-details
  *ngIf="displayDetails && dragon"
  [dragon]="dragon"
  (close)="displayDetails = false">
</app-dragon-details>

<app-confirm-modal
  *ngIf="displayReleaseModal && dragon"
  [title]="'dragon.releaseTitle' | translate:{dragon: dragon.name}"
  message="dragon.releaseMessage"
  (confirm)="onRelease(dragon.id)"
  (close)="displayReleaseModal = false">
</app-confirm-modal>
