<div *ngIf="dragon" class="container">

  <div class="wrapper-name">
    {{ dragon.name }} [{{ dragon.level }}]

    <div class="wrapper-image">
      <img [src]="dragon.image" alt="fire dragon">
    </div>
  </div>



  <div class="wrapper-stats">
    <p>{{ 'dragon.nature' | translate }}: <b>{{ dragon.nature }}</b></p>
    <p>{{ 'dragon.strength' | translate }}: <b>{{ dragon.strength }}</b></p>
    <p>{{ 'dragon.dexterity' | translate }}: <b>{{ dragon.dexterity }}</b></p>
    <p>{{ 'dragon.endurance' | translate }}: <b>{{ dragon.endurance }}</b></p>
    <p>{{ 'dragon.will' | translate }}: <b>{{ dragon.will }}</b></p>
    <p>{{ 'dragon.luck' | translate }}: <b>{{ dragon.luck }}</b></p>
    <p>{{ 'dragon.ongoingAction' | translate }}: <b>---</b></p>
  </div>

  <div class="wrapper-actions">
    <div (click)="feedDragon()" class="action">
      {{ 'dragon.feed' | translate }}
    </div>
    <div (click)="navigateExplore()" class="action">
      {{ 'dragon.explore' | translate }}
    </div>
    <div (click)="navigateArena()" class="action">
      {{ 'dragon.battle' | translate }}
    </div>
  </div>

</div>
