<div *ngIf="displayFeedModal && dragon" class="container-modal">
  <div *ngIf="feedLoading" class="mb-5">
    <app-loading-indicator></app-loading-indicator>
  </div>

  <div *ngIf="!feedLoading">
    <div class="title">{{ 'dragon.feed' | translate }} {{ dragon.name }}</div>
    <p>{{ 'dragon.chooseFoodHint' | translate }}</p>

    <div *ngIf="foodLoading" class="mt-5">
      <app-loading-indicator></app-loading-indicator>
    </div>
    <div class="wrapper-foods" *ngIf="!foodLoading">
      <div *ngFor="let item of availableFood" (click)="feedDragon(item.id!)" class="food">
          <img [src]="item.image" [alt]="item.name">
          {{ item.name | translate }}
          ({{ item.quantity }}) <br>
      </div>
    </div>

    <button (click)="displayFeedModal = false" class="btn-base">
      {{ 'common.cancel' | translate }}
    </button>
  </div>
</div>

<div *ngIf="dragon" class="container-dragon">

  <div class="wrapper-name">
    {{ dragon.name }} [{{ dragon.level }}]
    <div class="no-mobile" style="font-size: 14px; font-weight: 300;">
      {{ dragon.experience }} {{ 'dragon.experience' | translate }} | {{ dragon.stamina }} {{ 'dragon.stamina' | translate }}
    </div>

    <div class="wrapper-image">
      <img [src]="dragon.image" [alt]="dragon.name" draggable="false">
    </div>
  </div>

  <div class="wrapper-stats">
    <div class="item-stat">
      {{ 'dragon.nature' | translate }}: <b style="margin-left: 7px;">{{ dragon.nature }}</b>
    </div>

    <div *ngFor="let attribute of DRAGON_ATTRIBUTES" tooltip class="item-stat">
      <ng-template #tooltipTemplate>
        <div class="item-tooltip item-hint">
          <h5>{{ 'dragon.'+attribute | translate }}</h5>
          {{ 'dragon.'+attribute+'Hint' | translate }}<br>
        </div>
      </ng-template>
      <img src="/assets/img/icons/info.svg" alt="info">
      <div class="inline">{{ 'dragon.'+attribute | translate }}: <b>{{ getDragonAttribute(attribute) }}</b></div>
    </div>

    <p *ngIf="dragon.currentAction" style="margin-top: 8px;">
      {{ dragon.currentAction }}: {{ dragon.action.nextAction | timer | async }}
    </p>
  </div>

  <div class="wrapper-actions">
    <div *ngIf="!feedAvailable" tooltip>
      <ng-template #tooltipTemplate>
        <div  class="item-tooltip item-hint">
          {{ 'dragon.nextFeedIn' | translate }}: {{  dragon.nextFeed | timer | async }}<br>
        </div>
      </ng-template>
      <button (click)="prepareFeedModal()" [disabled]="!feedAvailable" class="btn-base btn-action">
        {{ 'dragon.feed' | translate }}
      </button>
    </div>
    <button *ngIf="feedAvailable" (click)="prepareFeedModal()" class="btn-base btn-action">
      {{ 'dragon.feed' | translate }}
    </button>

    <button (click)="displayDetails = true" class="btn-base btn-action">
      {{ 'dragon.skills' | translate }}
    </button>
    <button (click)="displayStatistics = true" class="btn-base btn-action">
      {{ 'dragon.statistics' | translate }}
    </button>
    <button (click)="displayEquipment = true" class="btn-base btn-action">
      {{ 'dragon.equipment' | translate }}
    </button>
    <button (click)="displayReleaseModal = true" class="btn-base btn-action">
      {{ 'dragon.release' | translate }}
    </button>
  </div>

</div>

<app-dragon-details
  *ngIf="displayDetails && dragon"
  [dragon]="dragon"
  (close)="displayDetails = false">
</app-dragon-details>

<app-dragon-equip
  *ngIf="displayEquipment && dragon"
  [dragon]="dragon"
  (close)="displayEquipment = false">
</app-dragon-equip>

<app-dragon-stats
  *ngIf="displayStatistics && dragon"
  [dragon]="dragon"
  (close)="displayStatistics = false">
</app-dragon-stats>

<app-confirm-modal
  *ngIf="displayReleaseModal && dragon"
  [title]="'dragon.releaseTitle' | translate:{dragon: dragon.name}"
  message="dragon.releaseMessage"
  (confirm)="onRelease(dragon.id)"
  (close)="displayReleaseModal = false">
</app-confirm-modal>
