@import "../../theme/mixins.scss";
@import "../../theme/variables.scss";

.container-modal {
  display: block;
}

.wrapper-skills {
  width: 90%;
  max-width: 800px;
  margin: 0px auto;

  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.item-skill {
  width: 80px;
  letter-spacing: 1px;

  img {
    max-width: 60px;
  }
}

.item-skill-info {
  width: 80px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.item-skill-hint {

  p {
    line-height: 1;
    font-size: 16px !important;
  }
}

.btn-learn-skill {
  height: 20px;
  width: 25px;
  margin-top: -45px;

  color: $app-primary;
  font-size: 36px;
  font-weight: 700;
  border: none;
  background: none;

  &:hover {
    color: lighten($app-primary, 10);
  }
}
