<div *ngIf="dragon && !skillsLoading" class="container-modal">

  <div class="title">{{ dragon.name }} [{{ dragon.level }}]</div>
  <div>{{ dragon.skillPoints }} {{ 'dragon.skillPoints' | translate }}</div>

  <img [src]="dragon.image" [alt]="dragon.name">


  <div class="wrapper-skills">
    <div *ngFor="let skill of obtainableSkills" class="item-skill">
      <div tooltip>
        <ng-template #tooltipTemplate>
          <div class="item-tooltip item-skill-hint">
            <h5>{{ skill.displayName | translate }}</h5>
            <p>{{ skill.hint }}</p>
            <p>{{ 'dragon.requiredLevel' | translate }}: {{ skill.level }}</p>
          </div>
        </ng-template>

        <img [src]="skill.image" [alt]="skill.displayName">
      </div>

      <div class="item-skill-info">
        {{ getSkillProgress(skill.name) }}
        <button
          *ngIf="dragon.skillPoints > 0 && canLearn(skill.name)"
          (click)="learnSkill(skill.name)"
          [disabled]="learnSkillLoading"
          class="btn-learn-skill">
          +
        </button>
      </div>
    </div>
  </div>

  <button (click)="closeModal()" [disabled]="learnSkillLoading" class="btn-base mt-5">
    {{ 'common.close' | translate }}
  </button>

</div>

<div *ngIf="skillsLoading" class="container-modal">
  <app-loading-indicator></app-loading-indicator>
</div>
