<div class="wrapper-main">
  <div class="wrapper-content">

    <div class="title title-main">{{ 'common.appName' | translate }}</div>
    <div class="title title-small">{{ 'start.registerHint' | translate }}</div>

    <div class="wrapper-form">
      <form [formGroup]="form" (ngSubmit)="register()">
        <input type="email" formControlName="email"><br>
        <input type="text" formControlName="nickname"><br>
        <input type="password" formControlName="password"><br>
        <input type="password" formControlName="passwordConfirm"><br>

        <button [disabled]="!form.valid">{{ 'start.register' | translate }}</button>
      </form>
    </div>
  </div>
</div>
