<div class="wrapper-guild">
  <div class="wrapper-info">
    <p>{{ "guild.noGuildHint" | translate }}</p>
  </div>

  <div class="wrapper-guilds">
    <div *ngFor="let guild of guilds" class="wrapper-guild-item">
      [{{ guild.tag }}] {{ guild.name }}
      <button
        (click)="apply(guild.id, guild.name)"
        [disabled]="createGuildApplicationLoading$ | async"
        class="btn-base btn-small">
        {{ "guild.apply" | translate }}
      </button>
    </div>
  </div>
  <div *ngIf="createGuildApplication$ | async" class="gone"></div>

  <button (click)="displayCreateGuild = true" class="btn-base">
    {{ "guild.found" | translate }}
  </button>
</div>

<app-create-guild
  *ngIf="displayCreateGuild"
  (close)="displayCreateGuild = false">
</app-create-guild>
