@import "../../../../core/theme/mixins.scss";
@import "../../../../core/theme/variables.scss";

.wrapper-info {
  margin: 10px 0px;
  padding: 5px;
  font-size: 18px;
}

.wrapper-guilds {
  margin-bottom: 25px
}

.wrapper-guild-item {
  @include tile($app-dark);

  width: 90;
  max-width: 400px;
  margin: 2px auto;

  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  letter-spacing: 1px;

  button {
    margin: 0;
  }
}
