<div class="wrapper-main">
  <app-navigation-bar currentLocation="crafting"></app-navigation-bar>

  <div class="wrapper-content">

    <div class="wrapper-crafting-section">
      <div class="wrapper-lore">
        <div class="wrapper-lore-img">
          <img src="assets/img/lore/crafting-base-runes.png" draggable="false" alt="Goblin thinkerer">
        </div>
        <div class="wrapper-lore-text">
          <div>{{ 'crafting.runeCraftingBaseHint' | translate }}</div>
          <button (click)="displayBaseRecipes = !displayBaseRecipes" class="btn-base btn-small">
            {{ 'alchemy.toggleOffer' | translate }}
          </button>
        </div>
      </div>

      <div *ngIf="displayBaseRecipes">
        <ng-template #loading>
          <div class="mt-5">
            <app-loading-indicator></app-loading-indicator>
          </div>
        </ng-template>
        <div *ngIf="!itemsLoading && (recipesBase$ | async) as recipes; else loading" class="wrapper-recipes">

          <div *ngFor="let recipe of recipes" class="item-recipe">
            <div class="recipe-item">
              <app-item-display [item]="recipe.product" [simplified]="true" style="width: 55px; height: 55px;"></app-item-display>
            </div>

            <div class="recipe-info">
              <b>{{ 'crafting.requiredIngredients' | translate }}:</b>
              <div *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} ({{ ingredient.quantity }})
                <div *ngIf="items.length" class="inline">
                  <progress class="progress-crafting" [value]="getItemQuantity(ingredient.uid)" [max]="ingredient.quantity" ></progress>
                </div>
              </div>
            </div>

            <div class="break"></div>
            <button (click)="craftRecipe(recipe)" [disabled]="checkIngredients(recipe)" class="btn-base btn-craft">
              {{ 'crafting.craft' | translate }}
            </button>
          </div>

        </div>
      </div>

    </div>

    <div class="wrapper-crafting-section">
      <div class="wrapper-lore">
        <div class="wrapper-lore-img">
          <img src="assets/img/lore/crafting-special-runes.png" draggable="false" alt="Goblin thinkerer">
        </div>
        <div class="wrapper-lore-text">
          <div>{{ 'crafting.runeCraftingSpecialHint' | translate }}</div>
          <button (click)="displaySpecialRecipes = !displaySpecialRecipes" class="btn-base btn-small">
            {{ 'alchemy.toggleOffer' | translate }}
          </button>
        </div>
      </div>

      <div *ngIf="displaySpecialRecipes">
        <ng-template #loading>
          <div class="mt-5">
            <app-loading-indicator></app-loading-indicator>
          </div>
        </ng-template>
        <div *ngIf="!itemsLoading && (recipesSpecial$ | async) as recipes; else loading" class="wrapper-recipes">

          <div *ngFor="let recipe of recipes" class="item-recipe">
            <div class="recipe-item">
              <app-item-display [item]="recipe.product" [simplified]="true" style="width: 55px; height: 55px;"></app-item-display>
            </div>

            <div class="recipe-info">
              <b>{{ 'crafting.requiredIngredients' | translate }}:</b>
              <div *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} ({{ ingredient.quantity }})
                <div *ngIf="items.length" class="inline">
                  <progress class="progress-crafting" [value]="getItemQuantity(ingredient.uid)" [max]="ingredient.quantity" ></progress>
                </div>
              </div>
            </div>

            <div class="break"></div>
            <button (click)="craftRecipe(recipe)" [disabled]="checkIngredients(recipe)" class="btn-base btn-craft">
              {{ 'crafting.craft' | translate }}
            </button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
