<div class="wrapper-main">
  <app-navigation-bar currentLocation="crafting"></app-navigation-bar>

  <div class="wrapper-content">

    <div class="wrapper-crafting-section">
      <div class="wrapper-lore">
        <div class="wrapper-lore-img">
          <img src="assets/img/lore/crafting-base-runes.png" draggable="false" alt="Goblin thinkerer">
        </div>
        <div class="wrapper-lore-text">
          <div>{{ 'crafting.runeCraftingBaseHint' | translate }}</div>
          <button (click)="displayBaseRecipes = !displayBaseRecipes" class="btn-base btn-small">
            {{ 'alchemy.toggleOffer' | translate }}
          </button>
        </div>
      </div>

      <div *ngIf="displayBaseRecipes">
        <ng-template #loading>
          <div class="mt-5">
            <app-loading-indicator></app-loading-indicator>
          </div>
        </ng-template>
        <app-crafting-item-list
          *ngIf="!itemsLoading && (recipesBase$ | async) as recipes; else loading"
          [items]="items"
          [recipes]="recipes"
          (refreshItems)="getOwnedItems()">
        </app-crafting-item-list>
      </div>

    </div>

    <div class="wrapper-crafting-section">
      <div class="wrapper-lore">
        <div class="wrapper-lore-img">
          <img src="assets/img/lore/crafting-special-runes.png" draggable="false" alt="Goblin thinkerer">
        </div>
        <div class="wrapper-lore-text">
          <div>{{ 'crafting.runeCraftingSpecialHint' | translate }}</div>
          <button (click)="displaySpecialRecipes = !displaySpecialRecipes" class="btn-base btn-small">
            {{ 'alchemy.toggleOffer' | translate }}
          </button>
        </div>
      </div>

      <div *ngIf="displaySpecialRecipes">
        <ng-template #loading>
          <div class="mt-5">
            <app-loading-indicator></app-loading-indicator>
          </div>
        </ng-template>
        <app-crafting-item-list
          *ngIf="!itemsLoading && (recipesSpecial$ | async) as recipes; else loading"
          [items]="items"
          [recipes]="recipes"
          (refreshItems)="getOwnedItems()">
        </app-crafting-item-list>
      </div>
    </div>

  </div>
</div>
