<div class="wrapper-main">
  <app-navigation-bar currentLocation="my-dragons"></app-navigation-bar>

  <div class="wrapper-content">

    <div *ngIf="(dragonsLoading$ | async)" style="margin-top: 50px;">
      <app-loading-indicator></app-loading-indicator>
    </div>

    <div *ngIf="{ownedDragons: ownedDragons$ | async, releaseDragon: releaseDragon$ | async} as vm;"
      class="wrapper-dragons">
      <div *ngFor="let dragon of vm.ownedDragons">
        <app-dragon-card
          [dragon]="dragon"
          (release)="release($event)">
        </app-dragon-card>
      </div>

      <div *ngIf="vm.ownedDragons && vm.ownedDragons.length === 0" class="wrapper-adopt">
        <div class="title">{{ 'dragon.noOwnedDragons' | translate }}</div>

        <button (click)="navigateAdopt()" class="btn-base btn-adopt">
          {{ 'dragon.adoptFirstDragon' | translate }}
        </button>
      </div>
    </div>

  </div>
</div>
