<div class="wrapper-main">
  <app-navigation-bar currentLocation="dragon-tamer"></app-navigation-bar>

  <div class="wrapper-content">

    <div class="wrapper-actions-section">
      <div class="wrapper-lore">
        <div class="wrapper-lore-img">
          <img src="assets/img/lore/dragon-tamer.png" draggable="false" alt="Dragon tamer">
        </div>
        {{ 'dragonTamer.dragonTamerHint' | translate }}
      </div>

      <div *ngIf="actionsLoading$ | async" style="margin: 30px auto;">
        <app-loading-indicator></app-loading-indicator>
      </div>
      <div *ngIf="{user: user, actions: (actions$ | async), dragons: (dragons$ | async)} as vm" class="wrapper-actions">

        <div *ngFor="let action of vm.actions; let actionInd = index" class="item-action">
          <div class="action-hint">
            {{ action.hint | translate }}
          </div>

          <select #dragonSelect [hidden]="action.withoutDragon" (change)="0" class="input-select" style="margin-top: 8px;">
            <option value=""></option>
            <option class="input-select-option" *ngFor="let dragon of vm.dragons; let dragonInd = index" [value]="dragonInd">
              {{ dragon.name }} [{{ dragon.level }}]
            </option>
          </select>

          <div *ngIf="action.uid === 'tamer-action-1'">
            <div class="label">New name:</div>
            <input #nameInput class="input-text" placeholder="{{ 'auctions.name' | translate }}"/>
          </div>

          <div *ngIf="action.uid === 'tamer-action-4'">
            <div class="label">New nature:</div>
            <select #newNatureSelect class="input-select">
              <option value=""></option>
              <option *ngFor="let nature of basicNatures;" [value]="nature.value">{{ nature.name | translate }}</option>
            </select>
          </div>

          <div *ngIf="action.requiredItems && action.requiredItems.length" class="cost-hint">
            {{ 'dragonTamer.requiredItems' | translate }}:
            <div *ngFor="let item of action.requiredItems; let itemInd = index" [class]="'inline' + ' color-' + item.rarity">
              {{ item.name + ' ('+item.quantity+')' + (itemInd+1 < action.requiredItems.length ? ', ' : '') }}
            </div>
          </div>

          <div *ngIf="action.uid === 'tamer-action-5'" class="cost-hint" style="margin-top: 8px;">
            {{ 'dragonTamer.currentDragonLimit' | translate }}: {{ user?.maxOwnedDragons }}
          </div>

          <div *ngIf="!action.withoutDragon" class="cost-hint">
            {{ 'dragonTamer.actionCost' | translate }}:
            {{ dragonSelect.value != '' ? action.baseCost + vm.dragons![+dragonSelect.value].level * action.costFactor : '---' }}
          </div>

          <div *ngIf="action.withoutDragon" class="cost-hint" style="margin-top: 8px;">
            {{ 'dragonTamer.actionCost' | translate }}:
            {{ action.baseCost + action.costFactor * (user?.maxOwnedDragons ? user!.maxOwnedDragons! - DRAGON_BASE_LIMIT : 0) }}
          </div>

          <button
            *ngIf="!action.withoutDragon"
            (click)="performAction(action, vm.dragons![+dragonSelect.value])"
            [disabled]="dragonSelect.value == '' || (dragonsLoading$ | async)"
            class="btn-base btn-action">
            {{ 'common.confirm' | translate }}
          </button>

          <button
            *ngIf="action.withoutDragon"
            (click)="performActionWithoutDragon(action)"
            [disabled]="(dragonsLoading$ | async)"
            class="btn-base btn-action">
            {{ 'dragonTamer.extend' | translate }}
          </button>
        </div>

      </div>

    </div>

  </div>
</div>
