<div class="wrapper-main">
  <app-navigation-bar currentLocation="profile"></app-navigation-bar>

  <div class="wrapper-content">

    <h2>User name</h2>
    <h2>Avatar</h2>
    <h2>Gold</h2>
    <h2>Dragons</h2>
    <h2>Achievements</h2>
    <h2>Friends</h2>

    <input #fileUpload class="gone" type="file" (change)="setAvatarPreview($event)">
    <div (click)="fileUpload.click()" class="btn-base">
      Set avatar
    </div>

    <div (click)="uploadAvatar()" class="btn-base">
      Confirm
    </div>

  </div>
</div>
