@import '../../../core/theme/variables.scss';


.wrapper-content {
  padding: 1rem;
  text-align: left;

  h2 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  hr {
    margin: 5px 0;
    border: 0;
    border-top: 0.5px dashed $app-light;
    opacity: 0.5;
  }
}

.item-avatar {

  img {
    height: 200px;
    width: 200px;

    object-fit: cover;
  }
}

.btn-avatar {
  width: 160px;
  height: 18px;
  margin: 10px 0px;

  line-height: 16px;
  text-align: center;
}

.item-dragon {
  width: fit-content;
  letter-spacing: 0.5px;
  cursor: help;
}

.dragon-tooltip {
  width: 220px;

  padding: 10px 5px 0px 5px;
  text-align: center;

  img {
    width: 120px;
  }
}

.wrapper-achievements {
  padding: 6px 0px;
  display: flex;
  flex-wrap: wrap;
}

.item-achievement {
  width: 60px;
  margin: 3px 6px 3px 0px;

  img {
    border-radius: 50%;
  }
}

.achievement-tooltip {
  box-shadow: inset 0px 0px 2px 1px black;
}

.achievement-I {
  img {
    border: 2px solid $app-common;
  }
}

.achievement-II {
  img {
    border: 2px solid $app-scarce;
  }
}

.achievement-III {
  img {
    border: 2px solid $app-rare;
  }
}

.wrapper-friends {
  display: flex;
}

.item-friend {
  width: 60px;
  margin: 3px 6px 3px 0px;

  text-align: center;
  cursor: pointer;
}

.item-friend-avatar {

  img {
    height: 60px;
    width: 60px;

    border: 2px solid $app-light;
    border-radius: 50%;
  }
}
