$app-primary: #c5a45f;
$app-secondary: #17a2b8;
$app-tertiary: #c9662d;
$app-dark: #242936;
$app-light: #FFEECA;
$app-red: #ff544c;
$app-green: #d5ff80;

$app-common: rgb(187, 195, 200);
$app-scarce: rgb(205, 201, 11);
$app-rare: rgb(201, 103, 235);
$app-mythical: rgb(0, 225, 225);

$mobile-threshold: 990px;


.color-Common {
  color: $app-common;
}
.color-Scarce {
  color: $app-scarce;
}
.color-Rare {
  color: $app-rare;
}
.color-Mythical {
  color: $app-mythical;
}
