@import '../../theme/mixins.scss';
@import '../../theme/variables.scss';


.title {
  text-align: center;
}

.wrapper-dragons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dragon {
  height: 40px;
  width: 240px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  padding: 10px;

  img {
    width: 50px;
    height: auto !important;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &:hover {
    cursor: pointer;
    background: darken($color: $app-dark, $amount: 8);
  }
}

.label-name {
  width: 100%;
  margin-left: 10px;

  text-align: left;
}
