

<form class="wrapper" [formGroup]="options.form">
  <div class="label">
    <div *ngIf="options.hint" [ngbTooltip]="tipContent" class="hint">
      <ng-template #tipContent>
        <p>{{ options.hint }}</p>
      </ng-template>
      <img src="assets/img/icons/info.svg" alt="info">
    </div>

    {{ options.label | translate }}
  </div>

  <div *ngIf="options.fieldType === FieldType.SIMPLE">
    <input class="input" [type]="options.type" [formControlName]="options.key">
  </div>

  <div *ngIf="options.fieldType === FieldType.INTEGER">
    <input class="input" type="text" pattern="\d*" [formControlName]="options.key">
  </div>

  <div *ngIf="options.fieldType === FieldType.TEXTAREA">
    <textarea class="input" [formControlName]="options.key" rows="3"></textarea>
  </div>

  <div *ngIf="field && (field.touched || field.dirty) && !field.valid" class="error">
    {{ 'errors.incorrectFieldsValue' | translate:{ value: fieldName } }}
  </div>
</form>
