@import '../../../core/theme/variables.scss';
@import '../../../core/theme/mixins.scss';


.wrapper {
  width: 240px;
  max-width: 95%;
  margin: 10px auto;
}

.hint {
  display: inline;
  padding: 0px 2px;

  img {
    max-width: 100%;
    width: 16px;
    margin-bottom: -2px;
  }
}

.item-tooltip {
  box-shadow: inset 0px 0px 2px 1px black;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
}

textarea {
  resize: none;
}
