<div class="wrapper-modal">
  <div class="wrapper-modal-conent">
    <h2 *ngIf="guildRole">{{ 'guild.editRole' | translate }}</h2>
    <h2 *ngIf="!guildRole">{{ 'guild.addNewRole' | translate }}</h2>
    <form [formGroup]="addRoleForm" (ngSubmit)="onSubmit()" class="wrapper-form">
      <app-input-base *ngFor="let field of addRoleFormFields" [options]="field"></app-input-base>

      <button *ngIf="!(createGuildRoleLoading$ | async)" [disabled]="!addRoleForm.valid" class="btn-base">
        {{ 'common.confirm' | translate }}
      </button>
      <div *ngIf="(createGuildRoleLoading$ | async)" style="margin-top: 15px;">
        <app-loading-indicator>
          {{ createGuildRole$ | async }}
        </app-loading-indicator>
      </div>
    </form>
    <button (click)="onClose()" [disabled]="(createGuildRoleLoading$ | async)" class="btn-base">
      {{ 'common.close' | translate }}
    </button>
  </div>
</div>
