<div class="container-modal">

  <div class="title">{{ title | translate }}</div>
  <p [innerHTML]="(message | translate)"></p>

  <div *ngIf="!dragonsLoading" class="wrapper-dragons">
    <div *ngFor="let dragon of displayDragons" (click)="chooseDragon(dragon)" class="dragon">
        <img [src]="dragon.image" [alt]="dragon.name">
        <div class="label-name">
          {{ dragon.name }} [{{ dragon.level }}]
          <div class="label-small" *ngIf="displayStamina">
            {{ dragon.stamina }} {{ 'dragon.stamina' | translate }}
          </div>
          <div class="label-small" *ngIf="dragon.unlockedExpeditions.includes(expeditionUid)">
            {{ 'explore.fullAccess' | translate }}
          </div>
        </div>
    </div>
  </div>
  <div *ngIf="dragonsLoading" style="margin-top: 25px;">
    <app-loading-indicator></app-loading-indicator>
  </div>

  <button (click)="closeModal()" class="btn-base">
    {{ 'common.cancel' | translate }}
  </button>

</div>
