<div class="container-modal">

  <div class="title">{{ title | translate }}</div>
  <p [innerHTML]="(message | translate)"></p>

  <ng-template #dragonsLoading>
    <div style="margin: 30px auto;">
      <app-loading-indicator></app-loading-indicator>
    </div>
  </ng-template>

  <div *ngIf="(displayDragons$ | async) as displayDragons; else dragonsLoading" class="wrapper-dragons">
    <div *ngFor="let dragon of displayDragons" (click)="chooseDragon(dragon)" class="dragon">
        <img [src]="dragon.image" [alt]="dragon.name">
        <div class="label-name">
          <ng-container
            [ngTemplateOutlet]="dragonTemplate || defaultDragonTemplate"
            [ngTemplateOutletContext]="{ $implicit: dragon }">
          </ng-container>
          <ng-template #defaultDragonTemplate>
            {{ dragon.name }} [{{ dragon.level }}]
          </ng-template>
        </div>
    </div>
  </div>

  <button (click)="closeModal()" class="btn-base">
    {{ 'common.cancel' | translate }}
  </button>

</div>
