<div class="container-modal">

  <div class="title">{{ title! | translate }}</div>
  <p>{{ message! | translate }}</p>

  <div *ngIf="!dragonsLoading" class="wrapper-dragons">
    <div *ngFor="let dragon of displayDragons" (click)="chooseDragon(dragon)" class="dragon">
        <img [src]="dragon.image" [alt]="dragon.name">
        <div class="label-name">
          {{ dragon.name }} [{{ dragon.level }}]
          <div class="label-stamina" *ngIf="displayStamina">
            {{ dragon.stamina }} {{ 'dragon.stamina' | translate}}
          </div>
        </div>
    </div>
  </div>
  <div *ngIf="dragonsLoading" class="mt-5">
    <app-loading-indicator></app-loading-indicator>
  </div>

  <button (click)="closeModal()" class="btn-base">
    {{ 'common.cancel' | translate }}
  </button>

</div>
