@import '../../theme/mixins.scss';
@import '../../theme/variables.scss';


.wrapper-form {
  width: clamp(240px, 100%, 400px);

  padding: 16px;
  border-radius: 4px;
  text-align: center;
  background: lighten($color: $app-dark, $amount: 10);

  .input-label {
    margin: 2px auto;
  }
}

.title {
  color: $app-red;
}
