<div class="container-modal">
  <div class="wrapper-form">

    <div class="title mb-4">
      <span *ngIf="penaltyType === PenaltyType.Ban">{{ 'shoutbox.banUser' | translate }}</span>
      <span *ngIf="penaltyType === PenaltyType.Mute">{{ 'shoutbox.muteUser' | translate }}</span>
       {{ message.nickname }}
    </div>

    <form [formGroup]="form" (ngSubmit)="imposePenalty()">
      <app-input-base *ngFor="let field of fields" [options]="field"></app-input-base>

      <button *ngIf="!submitLoading" [disabled]="!form.valid" class="btn-base">
        {{ 'common.confirm' | translate }}
      </button>
      <div *ngIf="submitLoading" class="mt-3">
        <app-loading-indicator></app-loading-indicator>
      </div>
    </form>

    <button [disabled]="submitLoading" (click)="closeModal()" class="btn-base mt-5">
      {{ 'common.cancel' | translate }}
    </button>

  </div>
</div>
