@import '~ngx-toastr/toastr';

@import 'app/core/theme/mixins.scss';
@import 'app/core/theme/variables.scss';

html, body {
  height: 100%;
  margin: 0px !important;

  padding: 0px !important;
  box-sizing: border-box;
  overflow-x: hidden;
}

*:focus {
  outline: none;
  border: none;
}

/**
 * Wrappers
 */

.wrapper-main {
  height: 100%;

  text-align: center;
  color: $app-light;
  background: $app-dark;
}

/**
 * Text
 */

.title {
  color: $app-gold;
  font-size: 32px;
  letter-spacing: 0.5px;
}

/**
 * Buttons
 */

.btn-base {
  @include button();
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
