@import '~ngx-toastr/toastr';
@import '~bootstrap/scss/bootstrap';

@import 'app/core/theme/mixins.scss';
@import 'app/core/theme/variables.scss';
@import 'app/core/theme/inputs.scss';

@import 'app/core/components/dragon-battle/dragon-battle-logs.component.scss';


html, body {
  height: 100%;
  margin: 0px;

  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
  border: none;
}

::selection {
  color: $app-dark;
  background-color: $app-primary;
}

img {
  max-width: 100%;
}
img::selection {
  color: none;
  background: none;
}

/**
 * Shorthands
 */

.no-desktop {
  display: none;
  visibility: hidden;
}

.inline {
  display: inline;
}

/**
 * Scrollbar
 */

* {
  scrollbar-width: thin;
  scrollbar-color: $app-dark $app-primary;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: $app-dark;
}

*::-webkit-scrollbar-thumb {
  background-color: $app-primary;
  border-radius: 8px;
  border: 2px solid $app-dark;
}

/**
 * Wrappers
 */

.wrapper-main {
  height: 100%;

  padding-top: 3rem;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  text-align: center;
  overflow: hidden;
  color: $app-light;
  background: $app-dark;
}

.wrapper-content {
  width: clamp(0px, 95%, 1200px);
  min-height: 70vh;
  max-height: calc(100vh - 5rem);
  margin: 0px auto;

  padding-top: 10px;
  padding: 20px auto;
  display: block;
  color: $app-light;
  background: lighten($color: $app-dark, $amount: 10);
  border-radius: 4px;
  overflow-y: visible;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

/**
 * Text
 */

.title {
  color: $app-light;
  font-size: 32px;
  letter-spacing: 0.5px;
}

.title-secondary {
  color: $app-light;
  font-size: 24px;
  letter-spacing: 0.25px;
}

/**
 * Buttons
 */

.btn-base {
  @include button();
}

/**
 * Toasts
 */

#toast-container > .toast-success {
  background-image: none;
  background-color: $app-green;
  color: $app-dark;
}

#toast-container > .toast-error {
  background-image: none;
  background-color: $app-red;
  color: $app-dark;
}

/**
 * Tooltip
 */

[tooltip] {
  position: relative;
}

.item-tooltip {
  @include tile($app-primary);

  width: clamp(200px, 100%, 400px);
  position: absolute;

  padding: 8px;
  z-index: 1000;
  overflow: visible;
  color: $app-light;
  background: darken($app-dark, 10);
}


/**
 * Mobile version
 */
@media all and (max-width: $mobile-threshold) {

  .wrapper-main {
    padding-left: 0px;
  }

  .wrapper-content {
    height: 100%;
    max-height: 100%;
    width: 100%;

    padding: 25px 5px;
  }

  .no-mobile {
    display: none;
    visibility: hidden;
  }

  .no-desktop {
    display: inherit;
    visibility: inherit;
  }
}
