<div
  *ngIf="(
  {dragonRunes: dragonRunes$ | async,
  availableEquipment: availableEquipment$ | async,
  equipRune: equipRune$ | async, unequipRune: unequipRune$ | async}) as vm;"
  class="container-modal">

  <div class="title">{{ dragon.name }} [{{ dragon.level }}]</div>

  <div class="label-runes">
    {{ 'dragon.equippedRunes' | translate }}
  </div>
  <div class="wrapper-runes">
    <div *ngFor="let rune of dragonRunes" (click)="unequipRune(rune)" class="item-hexagon">
      <div tooltip class="{{ 'item-rune item-'+rune.rarity }}">
        <ng-template #tooltipTemplate>
          <div class="{{ 'item-tooltip item-hint hint-'+rune.rarity }}">
            <h3>{{ rune.name }}</h3>
            {{ rune.rarityName | translate }} {{ rune.typeName | translate }}<br>
            {{ 'inventory.level' | translate }}: {{ rune.level }} <br>
          </div>
        </ng-template>
        <div class="item">
          <img [src]="rune.image" [alt]="rune.name" draggable="false">
        </div>
      </div>
    </div>

    <div *ngIf="(dragonRunes?.length || 0) < 1" class="item-hexagon"></div>
    <div *ngIf="(dragonRunes?.length || 0) < 2" class="item-hexagon"></div>
    <div *ngIf="(dragonRunes?.length || 0) < 3" class="item-hexagon"></div>
  </div>

  <div *ngIf="dragon.booster" class="label-runes">
    {{ 'dragon.activeBooster' | translate }}:
    <div class="inline color-{{dragon.booster.rarity}}">{{ dragon.booster.name }}</div>
  </div>

  <div class="label-runes" style="margin-bottom: 0px;">
    {{ 'dragon.availableRunes' | translate }}
  </div>
  <div class="wrapper-equipment">
    <div *ngFor="let item of availableEquipment" class="item-equipment" [ngClass]="{ 'item-inactive': dragon.level < item.level }">
      <app-item-display (click)="equipRune(item)" [item]="item" style="width: 55px; height: 55px;"></app-item-display>
    </div>
  </div>

  <button (click)="closeModal()" class="btn-base">
    {{ 'common.close' | translate }}
  </button>
</div>
