<div class="no-desktop wrapper-nav-top">
  <div class="item-user">
    <div class="nickname">{{ (user$ | async)?.nickname ?? '' }}</div><b>|</b>
    <div (click)="displayMenu = !displayMenu" class="item-menu">{{ 'game.menu' | translate }}</div><b>|</b>
    <div (click)="logout()" class="item-logout">{{ 'game.logout' | translate }}</div>
  </div>
</div>
<div *ngIf="displayMenu" class="no-desktop wrapper-menu">
  <li *ngFor="let item of navigationItems" [ngClass]="{'app-active': item.isActive}" class="nav-item">
    <div class="item-menu-nav" (click)="navigate(item.path)">
      <div *ngIf="item.label === 'game.mail' && newMails">{{ item.label | translate }} ({{ newMails }})</div>
      <div *ngIf="item.label !== 'game.mail' || !newMails">{{ item.label | translate }}</div>
    </div>
  </li>
</div>

<div class="no-mobile wrapper-nav-side">
  <div class="item-user">
    <div class="nickname">{{ (user$ | async)?.nickname }}</div>
    <p>{{ 'inventory.gold' | translate }}: {{ (user$ | async)?.gold }}</p>

    <p (click)="logout()" class="item-logout">
      ⤶ {{ 'game.logout' | translate }}
    </p>
  </div>

  <li *ngFor="let item of navigationItems" [ngClass]="{'app-active': item.isActive}" class="nav-item">
    <div class="item-nav" (click)="navigate(item.path)">
      <div *ngIf="item.label === 'game.mail' && newMails">{{ item.label | translate }} ({{ newMails }})</div>
      <div *ngIf="item.label !== 'game.mail' || !newMails">{{ item.label | translate }}</div>
    </div>
  </li>
</div>
