<div class="wrapper-main">
  <div class="wrapper-content">

    <div class="title">{{ 'start.resetPassword' | translate }}</div>
    <div class="wrapper-form">
      <div class="label">{{ 'start.newPassword' | translate }}</div>
      <input [formControl]="newPassword" type="password" class="input">
      <div *ngIf="newPassword.dirty && !newPassword.valid" class="error">
        {{ 'errors.incorrectFieldsValue' | translate:{ value: 'password' } }}
      </div>

      <div class="label">{{ 'start.newPasswordConfirm' | translate }}</div>
      <input [formControl]="newPasswordConfirm" type="password" class="input">
      <div *ngIf="newPasswordConfirm.dirty && !newPasswordConfirm.valid" class="error">
        {{ 'errors.incorrectFieldsValue' | translate:{ value: 'password' } }}
      </div>

      <button (click)="resetPassword()" [disabled]="(resetPasswordLoading$ | async)" class="btn-base">
        {{ 'common.confirm' | translate }}
      </button>
    </div>
  </div>
</div>
