@import "../../../core/theme/mixins.scss";
@import "../../../core/theme/variables.scss";

.title {
  margin-top: 10px;

  font-size: 27px;
  color: $app-light;
}

.title-secondary {
  margin-top: 20px;
  margin-bottom: 60px;

  font-size: 21px;
  color: $app-light;
}

.wrapper-stage {
  width: 95%;
  max-width: 800px;
  margin: 20px auto;
  letter-spacing: 0.5px;
}

.question {
  font-size: 16px;
  font-weight: 600;
}

.answers-wrapper {
  max-width: 600px;
  margin: 20px auto;

  padding: 10px;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    'a b'
    'c d';
  grid-template-rows: repeat(4, 40%);
}

@keyframes answerEntrance {
  from {
    opacity: 0;
    transform: scale(.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}

$areas: (1 'a' 'fire', 2 'b' 'water', 3 'c' 'wind', 4 'd' 'earth');
$delay: 5000ms;

@each $ind, $area, $img in $areas {
  .answer:nth-child(#{$ind}) {
    grid-area: $area;
    animation-delay: calc(#{$ind} * 100ms);
    background: linear-gradient(rgba($app-dark, 0.8), rgba($app-dark, 0.6)), url('/assets/img/adopt-dragon/#{$img}.jpg');

    :hover {
      background:  linear-gradient(rgba($app-dark, 0.5), rgba($app-dark, 0.6)), url('/assets/img/adopt-dragon/#{$img}.jpg');
    }
  }
}

.answer {
  color: $app-light;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  background-color: black;
  animation: answerEntrance 700ms ease-in-out;
  animation-fill-mode: backwards;
  border-radius: 4px;
  overflow: hidden;
  line-height: 5;
  box-shadow: 0 0 9px $app-light;

  :hover {
    // TODO - fix transition
    transition: all 0.5s ease-in-out !important;
  }
}
