<div class="wrapper-main">
  <app-navigation-bar currentLocation="adopt-dragon"></app-navigation-bar>

  <div class="wrapper-content">

    <div>
      <div class="title">{{ 'dragon.adoptDragonTilte' | translate }}</div>
      <div class="title-secondary">{{ 'dragon.adoptDragonHint' | translate }}</div>
    </div>

    <div *ngFor="let step of adoptSteps">
      <div *ngIf="step.step === currentStep" class="wrapper-stage">
        <div class="question">{{ step.question | translate }}</div>
        <div class="answers-wrapper">
          <div *ngFor="let answer of step.answers" class="answer">
            <div (click)="saveAnswer(answer)">
              {{ answer.label | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="currentStep === adoptStepName.Name" class="wrapper-form">
      <form [formGroup]="adoptForm" (ngSubmit)="adoptDragon()">
        <div class="question">{{ 'dragon.chooseDragonName' | translate }}</div>
        <app-input-base *ngFor="let field of adoptFormFields" [options]="field"></app-input-base>

        <button *ngIf="!(adoptLoading$ | async)" [disabled]="!adoptForm.valid" class="btn-base">
          {{ 'dragon.adopt' | translate }}
        </button>
        <div *ngIf="(adoptLoading$ | async)" class="spinner">
          <app-loading-indicator>
            {{ adopt$ | async }}
          </app-loading-indicator>
        </div>
      </form>
    </div>

  </div>
</div>
