<div class="wrapper-main">
  <app-navigation-bar currentLocation="adopt-dragon"></app-navigation-bar>

  <div class="wrapper-content">

    <div>{{ 'dragon.adoptDragonTilte' | translate }}</div>
    <div>{{ 'dragon.adoptDragonHint' | translate }}</div>

    <div *ngFor="let stage of adoptStages" class="wrapper-stage">
      <div *ngIf="stage.step === currentStep">
        <b>{{ stage.question | translate }}</b>
        <div *ngFor="let answer of stage.answers">
          <div (click)="saveAnswer(answer)" class="answer">
            {{ answer.value | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper-form">
      <form [formGroup]="form" (ngSubmit)="adoptDragon()">
        <app-input-base *ngFor="let field of fields" [options]="field"></app-input-base>

        <button *ngIf="!submitLoading" [disabled]="!form.valid" class="btn-base">
          {{ 'start.login' | translate }}
        </button>
        <div *ngIf="submitLoading" class="spinner">
          <app-loading-indicator></app-loading-indicator>
        </div>
      </form>
    </div>


  </div>
</div>
