<div *ngIf="dragons$ | async as dragons; else loading" class="wrapper-dragons">
    <div
        *ngFor="let dragon of dragons; index as i"
        [ngStyle]="{ 'font-size': 'clamp(13px, ' + (18 - i) + 'px, 18px)' }"
        [ngClass]="{ 'dragon-first': i === 0 }"
        class="item-dragon"
    >
        <span>{{ dragon.name }} [{{ dragon.level }}]</span>
        <span>
            {{ (isSeasonal ? dragon.seasonalExperience : dragon.experience) | shortNumber }}
            {{ 'dragon.exp' | translate }}
        </span>
        <span *ngIf="dragon.userNickname">
            <a (click)="showUserDetails(dragon.userId)">{{ dragon.userNickname }}</a>
        </span>
    </div>
</div>
<ng-template #loading>
    <div class="wrapper-dragons">
        <div
            *ngFor="let _ of DRAGON_SKELETON_DATA.itemCount; index as i"
            [ngStyle]="{ 'font-size': 'clamp(13px, ' + (18 - i) + 'px, 18px)' }"
            [ngClass]="{ 'dragon-first': i === 0 }"
            class="item-dragon item-dragon-skeleton"
        >
            <span>{{ DRAGON_SKELETON_DATA.dragonName }}</span>
            <span>
                {{ DRAGON_SKELETON_DATA.dragonExp | shortNumber }}
                {{ 'dragon.exp' | translate }}
            </span>
            <span>{{ DRAGON_SKELETON_DATA.userName }}</span>
        </div>
    </div>
</ng-template>
