@import "../../../../core/theme/mixins.scss";
@import "../../../../core/theme/variables.scss";

.wrapper-guild {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  justify-content: space-between;
  align-items: stretch;
}

.wrapper-info {
  margin: 10px 0px;
  padding: 10px;
  font-size: 20px;
  border: 1px dashed $app-dark;
}

.wrapper-actions {
  display: flex;
  gap: 5px;

  .btn-base {
    height: 24px;
    line-height: 24px;
  }
}

.wrapper-members {
  margin: 5px auto 10px auto;
  display: flex;
  gap: 1px;
  flex-direction: column;
  align-items: center;
}

.item-member-header {
  @include tile($app-light, 8px);

  width: 100%;
  margin-bottom: 4px;
  border-bottom: 2px solid $app-light;
  padding: 5px;
  display: grid;
  grid-template-columns: 5fr 5fr 1fr;
  font-weight: 600;
  text-align: left;

  &:hover {
    @include tile(darken($app-light, 5), 8px);
  }
}

.item-member {
  @include tile($app-dark);

  width: 100%;
  padding: 5px;
  display: grid;
  grid-template-columns: 5fr 5fr 1fr;
  text-align: left;

  &:hover {
    @include tile(darken($app-dark, 10));
  }
}

.member-founder {
  font-weight: 500;
  letter-spacing: 1px;
}

.wrapper-roles {
  margin: 5px auto 10px auto;
  display: flex;
  gap: 1px;
  flex-direction: column;
  align-items: center;
}

.item-role-header {
  @include tile($app-light, 8px);

  width: 100%;
  margin-bottom: 4px;
  border-bottom: 2px solid $app-light;
  padding: 5px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
  font-weight: 600;
  text-align: left;

  &:hover {
    @include tile(darken($app-light, 5), 8px);
  }
}

.item-role {
  @include tile($app-dark);

  width: 100%;
  padding: 5px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
  text-align: left;

  &:hover {
    @include tile(darken($app-dark, 10));
  }
}

.icon-permission {
  width: 20px;
  margin-top: 3px;
  margin-left: auto;
}

.icon-edit {
  width: 16px;
  margin-top: 5px;

  &:hover {
    cursor: pointer;
  }
}

.wrapper-application {
  border: 2px solid $app-light;
}

.item-application {
  @include tile($app-dark);

  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;

  &:hover {
    @include tile(darken($app-dark, 10));
  }

  button {
    margin: 0;
  }

  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
