@import '../../theme/mixins.scss';
@import '../../theme/variables.scss';

.container {
  @include size(75px);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border-radius: 4px;

  img {
    width: 50px;
  }
}

.item-Common, .hint-Common {
  @include tile($app-common);
}
.item-Scarce, .hint-Scarce {
  @include tile($app-scarce);
}
.item-Rare, .hint-Rare {
  @include tile($app-rare);
}
.item-Mythical, .hint-Mythical {
  @include tile($app-mythical);
}

.item-hint {
  text-align: left;
  background: $app-dark;
  border-radius: 4px;
}

.hint-Common {
  color: $app-common;
}
.hint-Scarce {
  color: $app-scarce;
}
.hint-Rare {
  color: $app-rare;
}
.hint-Mythical {
  color: $app-mythical;
}
