<div tooltip class="{{ 'container item-'+displayItem.rarity }}">
  <ng-template #tooltipTemplate>
    <div class="{{ 'item-tooltip item-hint hint-'+displayItem.rarity }}">
      <h5>{{ displayItem.name }}</h5>
      <div *ngIf="item.type !== ItemType.Booster">
        {{ displayItem.rarityName | translate }} {{ displayItem.typeName | translate }}<br>
      </div>
      {{ 'inventory.level' | translate }}: {{ displayItem.level }} <br>
      <div *ngIf="!simplified && item.type !== ItemType.Equipment">
        {{ 'inventory.quantity' | translate }}: {{ displayItem.quantity }} <br>
      </div>

      <div *ngIf="(item.type === ItemType.Equipment || item.type === ItemType.Booster) && item.statistics" style="margin-top: 8px;">
        <div *ngIf="item.statistics.armor">
          {{ ('dragon.armor' | translate) + ': ' + item.statistics.armor }}
        </div>
        <div *ngIf="item.statistics.health">
          {{ ('dragon.health' | translate) + ': ' + item.statistics.health }}
        </div>
        <div *ngIf="item.statistics.mana">
          {{ ('dragon.mana' | translate) + ': ' + item.statistics.mana }}
        </div>
        <div *ngIf="item.statistics.criticalChance">
          {{ ('dragon.criticalChance' | translate) + ': ' + item.statistics.criticalChance + '%' }}
        </div>
        <div *ngIf="item.statistics.criticalPower">
          {{ ('dragon.criticalPower' | translate) + ': ' + 100*item.statistics.criticalPower + '%' }}
        </div>
        <div *ngIf="item.statistics.speed">
          {{ ('dragon.speed' | translate) + ': ' + item.statistics.speed }}
        </div>
        <div *ngIf="item.statistics.initiative">
          {{ ('dragon.initiative' | translate) + ': ' + item.statistics.initiative }}
        </div>
        <div *ngIf="item.statistics.allAttributes">
          {{ ('dragon.allAttributes' | translate) + ': ' + item.statistics.allAttributes }}
        </div>
        <div *ngIf="item.statistics.strength">
          {{ ('dragon.strength' | translate) + ': ' + item.statistics.strength }}
        </div>
        <div *ngIf="item.statistics.dexterity">
          {{ ('dragon.dexterity' | translate) + ': ' + item.statistics.dexterity }}
        </div>
        <div *ngIf="item.statistics.endurance">
          {{ ('dragon.endurance' | translate) + ': ' + item.statistics.endurance }}
        </div>
        <div *ngIf="item.statistics.will">
          {{ ('dragon.will' | translate) + ': ' + item.statistics.will }}
        </div>
        <div *ngIf="item.statistics.luck">
          {{ ('dragon.will' | translate) + ': ' + item.statistics.luck }}
        </div>

        <div *ngIf="item.statistics.healthBoost">
          {{ ('dragon.healthBoost' | translate) + ': +' + 100 * item.statistics.healthBoost + '%' }}
        </div>
        <div *ngIf="item.statistics.armorBoost">
          {{ ('dragon.armorBoost' | translate) + ': +' + 100 * item.statistics.armorBoost + '%' }}
        </div>
        <div *ngIf="item.statistics.physicalAttackBoost">
          {{ ('dragon.physicalAttackBoost' | translate) + ': +' + 100 * item.statistics.physicalAttackBoost + '%' }}
        </div>
        <div *ngIf="item.statistics.criticalChanceBoost">
          {{ ('dragon.criticalChanceBoost' | translate) + ': +' + 100 * item.statistics.criticalChanceBoost + '%' }}
        </div>
        <div *ngIf="item.statistics.speedBoost">
          {{ ('dragon.speedBoost' | translate) + ': +' + 100 * item.statistics.speedBoost + '%' }}
        </div>
        <div *ngIf="item.statistics.dodgeBoost">
          {{ ('dragon.dodgeBoost' | translate) + ': +' + 100 * item.statistics.dodgeBoost + '%' }}
        </div>
        <div *ngIf="item.statistics.magicalAttackBoost">
          {{ ('dragon.magicalAttackBoost' | translate) + ': +' + 100 * item.statistics.magicalAttackBoost + '%' }}
        </div>
        <div *ngIf="item.statistics.manaBoost">
          {{ ('dragon.manaBoost' | translate) + ': +' + 100 * item.statistics.manaBoost + '%' }}
        </div>
      </div>
    </div>
  </ng-template>

  <div class="item">
    <img [src]="displayItem.image" [alt]="item.name" draggable="false">
  </div>
</div>
