<div tooltip class="{{ 'container item-'+displayItem.rarity }}">
  <ng-template #tooltipTemplate>
    <div class="{{ 'item-tooltip item-hint hint-'+displayItem.rarity }}">
      <h5>{{ displayItem.displayName | translate }}</h5>
      {{ displayItem.rarityName | translate }} {{ displayItem.typeName | translate }}<br>
      {{ 'inventory.level' | translate }}: {{ displayItem.level }} <br>
      {{ 'inventory.quantity' | translate }}: {{ displayItem.quantity }} <br>
    </div>
  </ng-template>

  <div class="item">
    <img [src]="displayItem.image" [alt]="item.name">
  </div>
</div>
