<div class="wrapper-main">
  <app-navigation-bar currentLocation="shoutbox"></app-navigation-bar>

  <div class="wrapper-content">

    <div class="wrapper-chat">
      <div class="wrapper-topics">
        <div (click)="changeMode(ChatMode.General)" class="btn-base btn-chat-topic">
          {{ 'shoutbox.general' | translate }}
        </div>
        <div (click)="changeMode(ChatMode.OffTopic)" class="btn-base btn-chat-topic">
          {{ 'shoutbox.offtopic' | translate }}
        </div>
      </div>

      <div #messagesWrapper class="wrapper-messages">
        <div *ngFor="let message of messages" class="item-message message-{{message.userRole}}">
          <div
            *ngIf="message.mode === chatMode"
            [ngClass]="{'message-own': message.nickname === user.nickname}">
            <div *ngIf="canBan(message)" class="item-ban">
              ({{ 'shoutbox.ban' | translate }}) |
            </div>
            <div *ngIf="canMute(message)" class="item-ban">
              ({{ 'shoutbox.mute' | translate }}) |
            </div>
            <b>{{ message.nickname }}</b> | {{ message.data }}
          </div>
        </div>
      </div>

      <div class="wrapper-form">
        <input [(ngModel)]="message" type="text" class="input-chat">
        <div (click)="sendMessage()" class="btn-base btn-send">
          {{ 'shoutbox.send' | translate }}
        </div>
      </div>
    </div>

  </div>
</div>
