<div class="wrapper-main">
  <app-navigation-bar currentLocation="shoutbox"></app-navigation-bar>

  <div class="wrapper-content">

    <div class="wrapper-chat">
      <div class="wrapper-topics">
        <div (click)="changeMode(ChatMode.General)" class="btn-base btn-chat-topic">
          {{ 'shoutbox.general' | translate }}
        </div>
        <div (click)="changeMode(ChatMode.OffTopic)" class="btn-base btn-chat-topic">
          {{ 'shoutbox.offtopic' | translate }}
        </div>
      </div>

      <div #messagesWrapper class="wrapper-messages">
        <div *ngFor="let message of messages">
          <div
            *ngIf="message.mode === chatMode"
            class="item-message message-{{message.userRole}}"
            [ngClass]="{'message-own': message.nickname === user.nickname}">
            <div *ngIf="canBan(message)" (click)="openPenaltyModal(message, PenaltyType.Ban)" class="item-ban">
              <img src="assets/img/icons/ban-user.svg" alt="ban"> |
            </div>
            <div *ngIf="canMute(message)" (click)="openPenaltyModal(message, PenaltyType.Mute)" class="item-ban">
              <img src="assets/img/icons/mute-user.svg" alt="mute"> |
            </div>
            <a (click)="showUserDetails(message.userId)">{{ message.nickname }}</a> ({{ message.date | date:'hh:mm' }}) | {{ message.data }}
          </div>
        </div>
      </div>

      <div class="wrapper-form">
        <input [(ngModel)]="message" type="text" class="input-chat">
        <div (click)="sendMessage()" class="btn-base btn-send">
          {{ 'shoutbox.send' | translate }}
        </div>
      </div>
    </div>

  </div>
</div>

<app-shoutbox-penalty-modal
  *ngIf="displayPenaltyModal"
  [message]="penaltyMessage!"
  [penaltyType]="penaltyType!"
  (penaltyInfo)="notifyPenaltyInfo($event)"
  (close)="displayPenaltyModal=false">
</app-shoutbox-penalty-modal>
