@import '../../../core/theme/mixins.scss';
@import '../../../core/theme/variables.scss';

.wrapper-content {
  max-width: 600px;
  min-height: none;
}

.title {
  color: $app-primary;
}

.wrapper-img {
  width: 90%;
  max-width: 250px;
  margin: 20px auto;

  img {
    @include size(100%);

    &:hover {
      transform: rotate(360deg);
      transition: transform 0.76s;
    }
  }
}

.wrapper-form {
  margin-bottom: 40px;
}

.title-main {
  margin-bottom: 20px;
}

.text-hint {
  font-size: 20px;
}

.btn-base {
  margin: 20px auto;
}

.spinner {
  margin: 20px auto;
}
