<div *ngIf="(confirmLoading$ | async)" class="wrapper-main">
  <div *ngIf="(submitLoading$ | async)" class="spinner">
    <app-loading-indicator data-testid="app-confirm-spinner"></app-loading-indicator>
  </div>
</div>

<div *ngIf="!(confirmLoading$ | async)" class="wrapper-main">
  <div class="wrapper-content">

    <div class="title title-main" data-testid="app-title">{{ 'common.appName' | translate }}</div>
    <div class="title text-hint" data-testid="app-hint">{{ 'common.appHint' | translate }}</div>

    <div class="wrapper-img">
      <img data-testid="app-brand-image" src="assets/img/app/logo.png" alt="logo" draggable="false">
    </div>

    <div class="wrapper-form">
      <form [formGroup]="form" (ngSubmit)="login()" (keydown.enter)="login()" data-testid="app-login-form">

        <div class="label" data-testid="app-login-label">{{ 'start.nickname' | translate }}</div>
        <input type="text" formControlName="login" autocomplete="nickname" class="input" data-testid="app-login-input">
        <div *ngIf="form.controls.login.dirty && !form.controls.login.valid" class="error" data-testid="app-login-error">
          {{ 'errors.incorrectFieldsValue' | translate:{ value: 'nickname' } }}
        </div>

        <div class="label" style="margin-top: 8px;" data-testid="app-password-label">{{ 'start.password' | translate }}</div>
        <input type="password" formControlName="password" autocomplete="current-password" class="input" data-testid="app-password-input">
        <div *ngIf="form.controls.password.dirty && !form.controls.password.valid" class="error" data-testid="app-password-error">
          {{ 'errors.incorrectFieldsValue' | translate:{ value: 'password' } }}
        </div>

        <button *ngIf="!(submitLoading$ | async)" type="submit" class="btn-base" data-testid="app-login-button">
          {{ 'start.login' | translate }}
        </button>
        <div *ngIf="(submitLoading$ | async)" class="spinner">
          <app-loading-indicator data-testid="app-form-submit-spinner"></app-loading-indicator>
        </div>
      </form>
    </div>

    <button [disabled]="(submitLoading$ | async)" routerLink="../register" class="btn-base" data-testid="app-register-button">
      {{ 'start.register' | translate }}
    </button>

    <div (click)="displayForgotPasswordModal$.next(true)" class="btn-forgot">
      {{ 'start.forgotPassword' | translate }}
    </div>

  </div>
</div>

<app-forgot-password
  *ngIf="displayForgotPasswordModal$ | async"
  (close)="displayForgotPasswordModal$.next(false)">
</app-forgot-password>
