<div class="wrapper-main">
  <div class="wrapper-content">

    <div class="title title-main">{{ 'common.appName' | translate }}</div>
    <div class="title text-hint">{{ 'common.appHint' | translate }}</div>

    <div class="wrapper-img">
      <img src="assets/img/logo.png" alt="logo">
    </div>

    <div class="wrapper-form">
      <form [formGroup]="form" (ngSubmit)="login()">
        <app-input-base *ngFor="let field of fields" [options]="field"></app-input-base>

        <button *ngIf="!submitLoading" [disabled]="!form.valid" class="btn-base">
          {{ 'start.login' | translate }}
        </button>
        <div *ngIf="submitLoading" class="spinner">
          <app-loading-indicator></app-loading-indicator>
        </div>
      </form>
    </div>

    <button [disabled]="submitLoading" routerLink="../register" class="btn-base">
      {{ 'start.register' | translate }}
    </button>

  </div>
</div>
