<div
  *ngIf="{
      dragon: dragon$ | async,
      obtainableSkills: obtainableSkills$ | async,
      learnSkill: learnSkill$ | async
    } as vm; else skillsLoading"
  class="container-modal">

  <div class="title">{{ vm.dragon?.name }} [{{ vm.dragon?.level }}]</div>

  <div style="margin: 20px auto;">{{ vm.dragon?.skillPoints }} {{ 'dragon.skillPoints' | translate }}</div>

  <div class="wrapper-skills">
    <div *ngFor="let skill of vm.obtainableSkills" class="item-skill">
      <div tooltip>
        <ng-template #tooltipTemplate>
          <div class="item-tooltip item-skill-hint">
            <h3>{{ skill.name }}</h3>
            <p>{{ skill.hint }}</p>
            <p>{{ 'dragon.requiredLevel' | translate }}: {{ skill.level }}</p>
          </div>
        </ng-template>

        <img [src]="skill.image" [alt]="skill.name" draggable="false">
      </div>

      <div *ngIf="vm.dragon" class="item-skill-info">
        {{ getSkillProgress(vm.dragon, skill.uid) }}
        <button
          *ngIf="canLearn(vm.dragon, skill)"
          (click)="learnSkill(vm.dragon, skill)"
          [disabled]="false"
          class="btn-learn-skill">
          +
      </button>
      </div>
    </div>
  </div>

  <button (click)="closeModal()" class="btn-base">
    {{ 'common.close' | translate }}
  </button>

</div>

<ng-template #skillsLoading>
  <div class="container-modal">
    <app-loading-indicator></app-loading-indicator>
  </div>
</ng-template>
