<div class="wrapper-main">
    <app-navigation-bar currentLocation="inventory"></app-navigation-bar>

    <div class="wrapper-content">
        <div class="label-gold">{{ 'inventory.gold' | translate }}: {{ gold }}</div>
        <div class="label-eter">{{ 'inventory.eter' | translate }}: {{ eter }}</div>

        <ng-template #itemsLoading>
            <div style="margin-top: 50px">
                <app-loading-indicator></app-loading-indicator>
            </div>
        </ng-template>
        <div *ngIf="ownedItems$ | async as ownedItems; else itemsLoading" class="wrapper-items">
            <div *ngFor="let item of ownedItems" class="item">
                <app-item-display [item]="item" style="width: 55px; height: 55px"></app-item-display>
            </div>
        </div>
    </div>
</div>
