@import '../../../core/theme/variables.scss';


.wrapper-content {
  overflow-x: visible;
}

.wrapper-items {
  margin: 10px 1rem;

  display: grid;
  gap: 2px;
  grid-template-columns: repeat(auto-fit, 56px);
  grid-template-rows: repeat(auto-fit, 56px);
  justify-content: left;
}

.label-gold {
  margin: 5px 0px 15px 1rem;

  font-size: 18px;
  text-align: left;
  letter-spacing: 0.7px;
  color: lighten($app-primary, 10);
}

.item {
  width: 56px;
  height: 56px;
  display: flex;
  border-radius: 4px;
}


@media screen and (max-width: $mobile-threshold) {

  .wrapper-items {
    justify-content: center;
  }
}
