<div class="wrapper-main">
  <app-navigation-bar currentLocation="arena"></app-navigation-bar>

  <div class="wrapper-content">

    <div *ngIf="ownedDragonsLoading" class="mt-5">
      <app-loading-indicator></app-loading-indicator>
    </div>
    <div *ngIf="!ownedDragonsLoading" class="wrapper-dragons-owned">
      <div *ngIf="!ownedDragonsLoading && !ownedDragons.length" class="wrapper-adopt">
        <div class="item-select-info">
          {{ 'dragon.noOwnedDragons' | translate }}
        </div>
        <button (click)="navigateAdopt()" class="btn-base btn-adopt mt-4">
          {{ 'dragon.adoptFirstDragon' | translate }}
        </button>
      </div>

      <div *ngIf="ownedDragons.length" class="item-select-info">
        {{ 'arena.selectDragon' | translate }}
      </div>
      <div
        *ngFor="let dragon of ownedDragons; index as ind"
        [ngClass]="{'item-selected': dragon.id === selectedOwnedDragon!.id}"
        (click)="selectedOwnedDragon = dragon"
        class="item-dragon-owned">
          <img [src]="dragon.image" [alt]="dragon.name" draggable="false">
          <div style="text-align: left;">
            {{ dragon.name }} [{{ dragon.level }}]
            <div style="font-size: 14px;">
              <b>{{ dragon.stamina }}</b> {{ 'dragon.stamina' | translate }}
            </div>
          </div>
      </div>
    </div>

    <div class="wrapper-table">
      <div class="item-dragon-info">
        <div>{{ 'arena.dragon' | translate }}</div>
        <div>{{ 'arena.nature' | translate }}</div>
        <div>{{ 'arena.action' | translate }}</div>
      </div>

      <div *ngIf="enemyDragonsLoading" class="m-5">
        <app-loading-indicator></app-loading-indicator>
      </div>
      <div *ngIf="!enemyDragonsLoading" class="wrapper-dragons">
        <div *ngFor="let dragon of enemyDragons" class="item-dragon">
          <div>{{ dragon.name }} [{{ dragon.level }}]</div>
          <div>{{ dragon.nature }}</div>
          <button (click)="startBattle(dragon.id)" [disabled]="!selectedOwnedDragon" class="btn-base btn-battle">
            {{ 'arena.battle' | translate }}
          </button>
        </div>
      </div>

      <div class="wrapper-table-btns">
        <button (click)="getEnemyDragons(false)" [disabled]="!canGetPrev" class="btn-base btn-table">
          {{ 'common.prev' | translate }}
        </button>
        <button (click)="getEnemyDragons(true)" [disabled]="!canGetNext" class="btn-base btn-table">
          {{ 'common.next' | translate }}
        </button>
      </div>
    </div>

  </div>

  <app-dragon-battle
    *ngIf="displayBattle"
    [ownedDragon]="selectedOwnedDragon!"
    [enemyDragon]="selectedEnemyDragon!"
    (updatedDragon)="handleModalClose($event)">
  </app-dragon-battle>
</div>
