@import '../../../core/theme/variables.scss';


.wrapper-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.wrapper-dragons-owned {
  margin: 10px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-select-info {
  width: 100%;
  height: 36px;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  border-bottom: 2px solid $app-light;
  padding: 0px 10px;
}

.item-dragon-owned {
  height: 80px;
  width: 300px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  padding: 10px;

  img {
    width: 100px;
    height: auto !important;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: inset 1px 1px 12px 1px darken($color: $app-dark, $amount: 10);
    background: darken($color: $app-dark, $amount: 3);
  }
}

.item-selected {
  box-shadow: inset 1px 1px 12px 1px $app-primary;
  background-color: transparentize($color: $app-primary, $amount: 0.95);
}

.wrapper-table {
  max-width: 400px;
  margin: 10px auto;
}

.wrapper-dragons {
  max-width: 400px;
  margin: 5px auto 10px auto;

  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}

.item-dragon {
  height: 30px;

  padding-bottom: 5px;
  display: grid;
  grid-template-columns: 160px 100px 95px;
  align-self: center;
  text-align: left;
  border-bottom: 1px solid $app-light;
  padding: 0px 10px;
}

.item-dragon-info {
  height: 36px;

  display: grid;
  grid-template-columns: 160px 100px 95px;
  align-self: center;
  font-size: 20px;
  text-align: left;
  border-bottom: 2px solid $app-light;
  padding: 0px 10px;
}

.btn-battle {
  height: 24px;
  margin: 0px;

  line-height: 24px;
  text-align: center;
}

.wrapper-table-btns {
  width: 100%;
  margin-top: 10px;

  display: flex;
}

.btn-table {
  width: 40%;
  height: 24px;

  line-height: 24px;
}
