<div *ngIf="structureUpgrades$ | async as structureUpgrades" class="wrapper-structures">
    <div class="item-resource">
        <div>{{ 'guild.gold' | translate }}</div>
        <div>{{ guild.gold }}</div>
        <img
            (click)="depositResourceType = ResourceType.Gold"
            src="assets/img/guild/deposit-resource.svg"
            class="icon-action"
        />
    </div>
    <div class="item-resource">
        <div>{{ 'guild.eter' | translate }}</div>
        <div>{{ guild.eter }}</div>
        <img
            (click)="depositResourceType = ResourceType.Eter"
            src="assets/img/guild/deposit-resource.svg"
            class="icon-action"
        />
    </div>
    <div class="item-resource">
        <div>{{ 'guild.wood' | translate }}</div>
        <div>{{ guild.wood }}</div>
    </div>
    <div class="item-resource">
        <div>{{ 'guild.stone' | translate }}</div>
        <div>{{ guild.stone }}</div>
    </div>
    <div class="item-resource">
        <div>{{ 'guild.steel' | translate }}</div>
        <div>{{ guild.steel }}</div>
    </div>
    <hr />
    <div *ngFor="let building of buildings" class="item-structure">
        <div tooltip class="wrapper-tooltip">
            <ng-template #tooltipTemplate>
                <div class="item-tooltip">
                    {{
                        getStructureDescription(building.level, building.type, structureUpgrades) | translate
                    }}
                </div>
            </ng-template>
            <img [src]="'assets/img/guild/' + building.icon" class="icon-structure" />
        </div>
        <div>{{ building.name | translate }}</div>
        <div>{{ building.level }}</div>
        <img
            *ngIf="checkConstructPermission(building.level, building.type, structureUpgrades)"
            (click)="markForUpgrade(building, structureUpgrades)"
            src="assets/img/guild/upgrade-building.svg"
            class="icon-action"
        />
    </div>
</div>

<app-deposit-resource
    *ngIf="depositResourceType"
    [guildId]="guild.id"
    [resourceType]="depositResourceType"
    (close)="depositResourceType = undefined"
    (depositedAmount)="updateGuildResource($event)"
>
</app-deposit-resource>

<app-upgrade-building
    *ngIf="guild && upgradedBuilding && upgrade"
    [guild]="guild"
    [building]="upgradedBuilding"
    [upgrade]="upgrade"
    (close)="upgradedBuilding = undefined"
    (buildingUpgraded)="updateGuildBuilding()"
>
</app-upgrade-building>
