<div class="wrapper-main">
  <app-navigation-bar currentLocation="my-dragons"></app-navigation-bar>

  <div class="wrapper-content">

    <div *ngIf="dragonsLoading" class="mt-5">
      <app-loading-indicator></app-loading-indicator>
    </div>

    <div *ngIf="!dragonsLoading" class="wrapper-dragons">
      <div *ngFor="let dragon of ownedDragons">
        <app-dragon-preview [dragon]="dragon"></app-dragon-preview>
      </div>
    </div>

    <div *ngIf="!dragonsLoading && !ownedDragons.length" class="wrapper-adopt">
      <div class="title">{{ 'dragon.noOwnedDragons' | translate }}</div>

      <button (click)="navigateAdopt()" class="btn-base btn-adopt">
        {{ 'dragon.adoptFirstDragon' | translate }}
      </button>
    </div>

  </div>
</div>
