<div class="wrapper-main">
  <app-navigation-bar currentLocation="home"></app-navigation-bar>

  <div class="wrapper-content">

    <div *ngIf="!getDragonsLoading" class="wrapper-dragons">
      <div *ngFor="let dragon of ownedDragons">
        <app-dragon-preview [dragon]="dragon"></app-dragon-preview>
      </div>
    </div>

    <div *ngIf="!getDragonsLoading && !ownedDragons.length" class="wrapper-adopt">
      <div class="title">{{ 'dragon.noOwnedDragons' | translate }}</div>

      <button (click)="navigateAdopt()" class="btn-base btn-adopt">
        {{ 'dragon.adoptFirstDragon' | translate }}
      </button>
    </div>

  </div>
</div>
